{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="image/x-icon" href="{% static 'icons/clinic_favicon.ico' %}" rel="shortcut icon">
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    {% block head %}{% endblock %}
</head>
<body>
<div class="wrapper">
    <header class="clinic-head">
        <div class="site-name">Тестова робота (клініка)</div>
        <ul class="menu">
            <li class="menu-item">
                <a href="/" class="logo">
                    <img src="{% static 'img/clinic_logo.png' %}" alt="">
                </a>
            </li>
            <li class="menu-item dropdown">
                <a class="btn dropbtn">Лікарня</a>
                <ul class="dropdown-content">
                    <li>
                        <a class="inner-btn" href="">Галерея</a>
                    </li>
                    <li>
                        <a class="inner-btn" href="contacts">Контакти</a>
                    </li>
                    <li>
                        <a class="inner-btn" href="vacancy">Вакансії</a>
                    </li>
                </ul>
            </li>
            <li class="menu-item">
                <a class="btn" href="staff">Наші лікарі</a>
            </li>
            <li class="menu-item">
                <a class="btn" href="making-an-appointment">Запис на прийом</a>
            </li>
            <li class="menu-item">
                <a class="btn" href="schedule">Графік роботи</a>
            </li>
            <li class="menu-item">
                <a class="btn" href="quiz">Опитування</a>
            </li>
        </ul>
        <div class="mobile-menu">
            <div class="mobile-menu-btn-wrapper">
                <button>
                    <i class="fa-solid fa-bars"></i>
                </button>
            </div>
            <ul class="mobile-menu-content">
                <li class="dropdown-mobile"></li>
                <li class="menu-item">
                    <a class="btn" href="/">Додому</a>
                </li>
                <li class="menu-item dropdown-content">
                    <a class="btn dropbtn">Лікарня</a>
                    <ul>
                        <li>
                            <a class="btn" href="#">Галерея</a>
                        </li>
                        <li>
                            <a class="btn" href="contacts">Контакти</a>
                        </li>
                        <li>
                            <a class="btn" href="vacancy">Вакансії</a>
                        </li>
                    </ul>
                </li>
                <li class="menu-item">
                    <a class="btn" href="staff">Наші лікарі</a>
                </li>
                <li class="menu-item">
                    <a class="btn" href="making-an-appointment">Запис на прийом</a>
                </li>
                <li class="menu-item">
                    <a class="btn" href="schedule">Графік роботи</a>
                </li>
                <li class="menu-item">
                    <a class="btn" href="quiz">Опитування</a>
                </li>
            </ul>
        </div>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <div class="footer-content">
            <h3>Харківська районна клініка</h3>
            <p>Комунальне некомерційне підприємство "Міська поліклініка № 496" Харківської міської ради</p>
            <ul class="socials">
                <li>
                    <a href="https://facebook.com"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                    <a href="https://instagram.com"><i class="fa fa-instagram"></i></a>
                </li>
                <li>
                    <a href="https://twitter.com"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                    <a href="https://youtube.com"><i class="fa fa-youtube"></i></a>
                </li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>z9661744@gmail.com</p>
            <p>&copy; 2008-2022</p>
        </div>
    </footer>
</div>
<script src="https://kit.fontawesome.com/c3664bd84b.js" crossorigin="anonymous"></script>
<script src="{% static 'js/header.js' %}"></script>
{% block scripts %}{% endblock %}
</body>
</html>
