{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="image/x-icon" href="{% static 'icons/clinic_favicon.ico' %}" rel="shortcut icon">
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    {% block head %}{% endblock %}
</head>

<body>
<li class="wrapper">
    {% get_current_language as CURRENT_LANGUAGE %}
    {% get_available_languages as AVAILABLE_LANGUAGES %}
    {% get_language_info_list for AVAILABLE_LANGUAGES as languages %}
    <header class="clinic-head">
        <div class="clinic-head__top">
            <div class="site-name">{% trans 'Тестова робота (клініка)' %}</div>
            <section class="language-block">
                <div class="language-block__choice">
                    {% for language in languages %}
                        <div class="lang {% if language.code == CURRENT_LANGUAGE %}chosen{% endif %}">
                            <a
                                    {% if language.code != CURRENT_LANGUAGE %}{% block language_href %}href="/{{ language.code }}/index"
                                    {% endblock %}
                                    {% else %}disabled {% endif %}>{{ language.code|upper }}</a>
                        </div>
                    {% endfor %}
                </div>
            </section>
        </div>
        <ul class="menu">
            <li class="menu-item">
                {% block header_index %}
                    <a href="{% url 'index' %}" class="logo">
                        <img src="{% static 'img/clinic_logo.png' %}" alt="">
                    </a>
                {% endblock %}
            </li>
            <li class="menu-item dropdown">
                <a class="btn dropbtn">{% trans 'Лікарня' %}</a>
                <ul class="dropdown-content">
                    <li>
                        {% block header_contacts %}
                            <a class="inner-btn" href="{% url 'contacts' %}">{% trans "Контакти" %}</a>
                        {% endblock %}
                    </li>
                    <li>
                        {% block header_vacancy %}
                            <a class="inner-btn" href="{% url 'vacancy' %}">{% trans "Вакансії" %}</a>
                        {% endblock %}
                    </li>
                </ul>
            </li>
            <li class="menu-item">
                {% block header_staff %}
                    <a class="btn" href="{% url 'staff' %}">{% trans 'Наші лікарі' %}</a>
                {% endblock %}
            </li>
            <li class="menu-item">
                {% block header_appointment %}
                    <a class="btn"
                       href="{% url 'making-an-appointment' %}">{% trans 'Запис на прийом' %}</a>
                {% endblock %}
            </li>
            <li class="menu-item">
                {% block header_schedule %}
                    <a class="btn" href="{% url 'schedule' %}">{% trans 'Графік роботи' %}</a>
                {% endblock %}
            </li>
            <li class="menu-item auth-block login">
                {% block header_login %}
                    <a class="btn" href="{% url 'login' %}">{% trans 'Вхід' %}</a>
                {% endblock %}
            </li>
            <li class="menu-item auth-block registration">
                {% block header_registration %}
                    <a class="btn" href="{% url 'registration' %}">{% trans 'Реєстрація' %}</a>
                {% endblock %}
            </li>
        </ul>
        <div class="mobile-menu">
            <div class="mobile-menu-btn-wrapper">
                <button>
                    <i class="fa-solid fa-bars"></i>
                </button>
            </div>
            <ul class="mobile-menu-content hidden">
                <li class="dropdown-mobile"></li>
                <li class="menu-item">
                    {% block mobile-menu_index %}
                        <a class="btn" href="{% url 'index' %}">{% trans 'Додому' %}</a>
                    {% endblock %}
                </li>
                <li class="menu-item dropdown-content">
                    <a class="btn dropbtn">{% trans 'Лікарня' %}</a>
                    <ul>
                        <li>
                            {% block mobile-menu_contacts %}
                                <a class="btn" href="{% url 'contacts' %}">{% trans 'Контакти' %}</a>
                            {% endblock %}
                        </li>
                        <li>
                            {% block mobile-menu_vacancy %}
                                <a class="btn" href="{% url 'vacancy' %}">{% trans 'Вакансії' %}</a>
                            {% endblock %}
                        </li>
                    </ul>
                </li>
                <li class="menu-item">
                    {% block mobile-menu_staff %}
                        <a class="btn" href="{% url 'staff' %}">{% trans 'Наші лікарі' %}</a>
                    {% endblock %}
                </li>
                <li class="menu-item dropdown-content">
                    {% block mobile-menu_appointment %}
                        <a class="btn" href="{% url 'making-an-appointment' %}">{% trans 'Запис на прийом' %}</a>
                    {% endblock %}
                </li>
                <li class="menu-item">
                    {% block mobile-menu_schedule %}
                        <a class="btn" href="{% url 'schedule' %}">{% trans 'Графік роботи' %}</a>
                    {% endblock %}
                </li>
            </ul>
        </div>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <div class="footer-content">
            <h3>{% trans 'Харківська районна клініка' %}</h3>
            <p>{% trans 'Комунальне некомерційне підприємство "Міська поліклініка № 496" Харківської міської ради' %}</p>
            <ul class="socials">
                <li>
                    <a href="https://facebook.com"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                    <a href="https://instagram.com"><i class="fa fa-instagram"></i></a>
                </li>
                <li>
                    <a href="https://twitter.com"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                    <a href="https://youtube.com"><i class="fa fa-youtube"></i></a>
                </li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>z9661744@gmail.com</p>
            <p>&copy; 2008-2022</p>
        </div>
    </footer>
</li>
<script src="{% static 'js/header.js' %}"></script>
<script src="https://kit.fontawesome.com/c3664bd84b.js" crossorigin="anonymous"></script>
{% block scripts %}{% endblock %}
</body>
</html>
