{% extends "clinic/base.html" %}
{% load static %}
{% load i18n %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>{% trans 'Харківська районна лікарня №496' %}</title>
{% endblock %}

{% block header_index %}
    <a href="{% url 'index' %}" class="logo disabled">
        <img src="{% static 'img/clinic_logo.png' %}" alt="">
    </a>
{% endblock %}

{% block mobile-menu_index %}
    <a class="btn disabled" href="{% url 'index' %}">{% trans 'Додому' %}</a>
{% endblock %}

{% block content %}
    <section class="brief-info-wrapper">
        <div class="title-box">
            <h2>{% trans 'Запис на прийом' %}</h2>
        </div>
        <div class="brief-info">
            <div class="about-services">
                <h2>{% trans 'Ми надаємо <span style="color: gold; font: inherit">високоякісні</span> консультації' %}</h2>
                <span>{% trans 'Найголовніше для нас - це швидкість та ефективність одужання пацієнтів.' %} <br>{% trans 'Із нами не страшна жодна хвороба' %}</span>
                <div class="buttons">
                    <a href="{% url 'making-an-appointment' %}" id="record-btn">{% trans 'Запис до лікаря' %}</a>
                </div>
            </div>
            <picture>
                {% if doctor_img_name == "default_photo" %}
                    <source media="(min-width: 641px) and (max-width: 768px)"
                            srcset="{% static 'img/200w/default_photo.png' %}">
                    <source media="(max-width: 1300px)" srcset="{% static 'img/300w/default_photo.png' %}">
                    <img src="{% static 'img/400w/default_photo.png' %}" alt="">
                {% else %}
                    <source media="(min-width: 641px) and (max-width: 768px)"
                            srcset="{% static 'img/200w' %}/{{ doctor }}.png">
                    <source media="(max-width: 1300px)" srcset="{% static 'img/250w' %}/{{ doctor_img_name }}.png">
                    <img src="{% static 'img/250w' %}/{{ doctor_img_name }}.png" alt="">
                {% endif %}
            </picture>
        </div>
    </section>
    <section class="about-clinic-wrapper">
        <div class="title-box">
            <h2>{% trans 'Загальна інформація' %}</h2>
        </div>
        <div class="about-clinic">
            <div class="quote-wrapper">
                <blockquote
                        cite="http://hptu14.com.ua/news/315-vyslovy-vydatnykh-liudei-pro-zdorov-ia-ta-zdorovyi-sposib-zhyttia.html"
                        class="quote">
                    {% trans 'MainPage Quote' %}
                </blockquote>
                <div class="quote-author">{% trans '-Авіцена' %}</div>
            </div>
            <div class="description">
                {% trans 'MainPage GeneralInfo' %}
            </div>
        </div>
    </section>
    <section class="what-makes-us-special-wrapper">
        <div class="title-box">
            <h2>{% trans 'Що робить нас<br class="show-for-mobile"> особливими' %}</h2>
        </div>
        <div class="what-makes-us-special-grid">
            <article class="what-makes-us-special-article">
                <img src="{% static 'icons/uzi.png' %}" alt="">
                <h4>{% trans 'Якісні лабораторії' %}</h4>
                <p>{% trans 'SpecialInfo QualityEquipment' %}</p>
            </article>
            <article class="what-makes-us-special-article">
                <img src="{% static 'icons/staff.png' %}" alt="">
                <h4>{% trans 'Позитивний персонал' %}</h4>
                <p>{% trans 'SpecialInfo PositiveStaff' %}</p>
            </article>
            <article class="what-makes-us-special-article">
                <img src="{% static 'icons/vacuum-cleaner.png' %}" alt="">
                <h4>{% trans 'Чистота та гарна санітарія' %}</h4>
                <p>{% trans 'SpecialInfo GoodCleanliness' %}</p>
            </article>
            <article class="what-makes-us-special-article">
                <img src="{% static 'icons/fist-up.png' %}" alt="">
                <h4>{% trans 'Методи лікування' %}</h4>
                <p>{% trans 'SpecialInfo TreatmentMethods' %}</p>
            </article>
        </div>
    </section>
    <div id="reminder-popup" class="reminder-popup">
        <div class="reminder-popup__body">
            <div class="reminder-popup__content">
                <a href="#" class="reminder-popup__close">x</a>
                <div class="reminder-popup__title">{% trans 'Увага' %}</div>
                <div class="reminder-popup__text">{% trans 'TestReminderText' %}</div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/testReminder.js' %}"></script>
{% endblock %}
