<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Харківська районна клініка №496</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="wrapper">
    <header class="clinic-head">
        <div class="site-name">Харківська районна клініка №496</div>
        <ul class="menu">
            <li class="menu-item">
                <a href="index.html" class="logo disabled">
                    <img src="img/clinic_logo.png" alt="">
                </a>
            </li>
            <li class="menu-item dropdown">
                <a class="btn dropbtn">Лікарня</a>
                <ul class="dropdown-content">
                    <li>
                        <a class="inner-btn" href="">Галерея</a>
                    </li>
                    <li>
                        <a class="inner-btn" href="pages/contacts.html">Контакти</a>
                    </li>
                    <li>
                        <a class="inner-btn" href="pages/vacancy.html">Вакансії</a>
                    </li>
                </ul>
            </li>
            <li class="menu-item">
                <a class="btn" href="pages/staff.html">Наші лікарі</a>
            </li>
            <li class="menu-item">
                <a class="btn" href="pages/making-an-appointment.html">Запис на прийом</a>
            </li>
            <li class="menu-item">
                <a class="btn" href="pages/schedule-work.html">Графік роботи</a>
            </li>
            <li class="menu-item">
                <a class="btn" href="pages/quiz.html">Опитування</a>
            </li>
        </ul>
        <div class="mobile-menu">
            <div class="mobile-menu-btn-wrapper">
                <button>
                    <i class="fa-solid fa-bars"></i>
                </button>
            </div>
            <ul class="mobile-menu-content">
                <li class="dropdown-mobile"></li>
                <li class="menu-item">
                    <a class="btn disabled" href="index.html">Додому</a>
                </li>
                <li class="menu-item dropdown-content">
                    <a class="btn dropbtn">Лікарня</a>
                    <ul>
                        <li>
                            <a class="btn" href="#">Галерея</a>
                        </li>
                        <li>
                            <a class="btn" href="pages/contacts.html">Контакти</a>
                        </li>
                        <li>
                            <a class="btn" href="pages/vacancy.html">Вакансії</a>
                        </li>
                    </ul>
                </li>
                <li class="menu-item">
                    <a class="btn" href="pages/staff.html">Наші лікарі</a>
                </li>
                <li class="menu-item">
                    <a class="btn" href="pages/making-an-appointment.html">Запис на прийом</a>
                </li>
                <li class="menu-item">
                    <a class="btn" href="pages/schedule-work.html">Графік роботи</a>
                </li>
                <li class="menu-item">
                    <a class="btn" href="pages/quiz.html">Опитування</a>
                </li>
            </ul>
        </div>
    </header>
    <main>
        <section class="brief-info-wrapper">
            <div class="title-box">
                <h2>Запис на прийом</h2>
            </div>
            <div class="brief-info">
                <div class="about-services">
                    <h2>Ми надаємо <span style="color: gold; font: inherit">високоякісні</span> консультації</h2>
                    <span>Найголовніше для нас - це швидкість та ефективність одужання пацієнтів. <br>Із нами не страшна жодна хвороба</span>
                    <div class="buttons">
                        <a href="pages/making-an-appointment.html" id="record-btn">Запис до лікаря</a>
                        <a href="" id="more-info-btn">Дізнатися більше</a>
                    </div>
                </div>
                <picture>
                    <source media="(min-width: 641px) and (max-width: 768px)" srcset="img/200w/photo_about.png">
                    <source media="(max-width: 1300px)" srcset="img/300w/photo_about.png">
                    <img src="img/400w/photo_about.png" alt="">
                </picture>
            </div>
        </section>
        <section class="about-clinic-wrapper">
            <div class="title-box">
                <h2>Загальна інформація</h2>
            </div>
            <div class="about-clinic">
                <div class="quote-wrapper">
                    <blockquote
                            cite="http://hptu14.com.ua/news/315-vyslovy-vydatnykh-liudei-pro-zdorov-ia-ta-zdorovyi-sposib-zhyttia.html"
                            class="quote">
                        Головним скарбом життя є не землі, що ти їх завоював, не багатства, що їх маєш у
                        скринях... Головним скарбом життя є здоров’я,
                        і, щоб його зберегти, потрібно багато що знати.
                    </blockquote>
                    <div class="quote-author">-Авіцена</div>
                </div>
                <div class="description">
                    Недаремно наведена цитата є девізом обслуговування пацієнтів. Завдяки чималому досвіду
                    наших лікарів клієнти не тільки швидко одужують, але й отримують консультацію щодо того,
                    як запобігти такого захворювання.
                    Харківська районна клініка №496 надає медичну допомогу
                    згідно з конституцією України та законам України, постановам Верховної Ради України, документам,
                    постановам і розпорядженням Кабінету Міністрів України, актам Президента України,
                    нормативним та методичним документам Міністерства охорони здоров’я України, рішенням
                    Харківської міської ради та її виконавчого комітету, наказам Департаменту охорони здоров’я
                    Харківської міської ради, Статута та іншим нормативним актам.
                </div>
            </div>
        </section>
        <section class="what-makes-us-special-wrapper">
            <div class="title-box">
                <h2>Що робить нас<br class="show-for-mobile"> особливими</h2>
            </div>
            <div class="what-makes-us-special-grid">
                <article class="what-makes-us-special-article">
                    <img src="icons/uzi.png" alt="">
                    <h4>Якісні лабораторії</h4>
                    <p>Клініка забезпечена сучасним обладнанням. Саме тому результати діагностики швидкі та точні, а
                        отже, й лікування ефективне</p>
                </article>
                <article class="what-makes-us-special-article">
                    <img src="icons/staff.png" alt="">
                    <h4>Позитивний персонал</h4>
                    <p>У клініці на вас чекатимуть позитивні, зацікавлені у своїй роботі спеціалісти. Вони знають, як
                        знайти підхід до будь-якого пацієнта!</p>
                </article>
                <article class="what-makes-us-special-article">
                    <img src="icons/vacuum-cleaner.png" alt="">
                    <h4>Чистота та гарна санітарія</h4>
                    <p>Уборка нашої клініки відбувається за допомогою німецьких професійних порохотягів Kärcher.</p>
                </article>
                <article class="what-makes-us-special-article">
                    <img src="icons/fist-up.png" alt="">
                    <h4>Методи лікування</h4>
                    <p>Наші лікарі навчалися у ліпших ВНЗ України та навіть Німеччини! Завдяки такому міцному фундаменту
                        та наполегливій практиці клініка пропонує
                        лише найсучасніші ефективні методи лікування</p>
                </article>
            </div>
        </section>
        <div id="reminder-popup" class="reminder-popup">
            <div class="reminder-popup__body">
                <div class="reminder-popup__content">
                    <a href="#" class="reminder-popup__close">x</a>
                    <div class="reminder-popup__title">Увага</div>
                    <div class="reminder-popup__text">Тест щодо знання заходів з протидії COVID-19 не було пройдено. Рекомендуємо вивчити заходи із цього приводу та пройти тест знову</div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer-content">
            <h3>Харківська районна клініка</h3>
            <p>Комунальне некомерційне підприємство "Міська поліклініка № 496" Харківської міської ради</p>
            <ul class="socials">
                <li>
                    <a href="https://facebook.com"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                    <a href="https://instagram.com"><i class="fa fa-instagram"></i></a>
                </li>
                <li>
                    <a href="https://twitter.com"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                    <a href="https://youtube.com"><i class="fa fa-youtube"></i></a>
                </li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2008-2022</p>
            <p>Міністерство охорони здоров'я</p>
        </div>
    </footer>
</div>
<script src="https://kit.fontawesome.com/c3664bd84b.js" crossorigin="anonymous"></script>
<script src="js/header.js"></script>
<script src="js/testReminder.js"></script>
</body>
</html>