<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Гриденко Альона Миколаївна</title>
    <link rel="stylesheet" href="../../../static/css/style.css">
    <link rel="stylesheet" href="../../../static/css/reviews.css">
</head>
<body>
<div class="wrapper">
    <header class="clinic-head">
        <div class="site-name">Харківська районна клініка №496</div>
        <ul class="menu">
            <li class="menu-item">
                <a href="../index.html" class="logo">
                    <img src="../../../static/img/clinic_logo.png" alt="">
                </a>
            </li>
            <li class="menu-item dropdown">
                <a class="btn dropbtn">Лікарня</a>
                <ul class="dropdown-content">
                    <li>
                        <a class="inner-btn" href="">Галерея</a>
                    </li>
                    <li>
                        <a class="inner-btn" href="contacts.html">Контакти</a>
                    </li>
                    <li>
                        <a class="inner-btn" href="vacancy.html">Вакансії</a>
                    </li>
                </ul>
            </li>
            <li class="menu-item">
                <a class="btn" href="staff.html">Наші лікарі</a>
            </li>
            <li class="menu-item">
                <a class="btn" href="making-an-appointment.html">Запис на прийом</a>
            </li>
            <li class="menu-item">
                <a class="btn" href="schedule-work.html">Графік роботи</a>
            </li>
            <li class="menu-item">
                <a class="btn" href="quiz.html">Опитування</a>
            </li>
        </ul>
        <div class="mobile-menu">
            <div class="mobile-menu-btn-wrapper">
                <button>
                    <i class="fa-solid fa-bars"></i>
                </button>
            </div>
            <ul class="mobile-menu-content">
                <li class="dropdown-mobile"></li>
                <li class="menu-item">
                    <a class="btn" href="../index.html">Додому</a>
                </li>
                <li class="menu-item dropdown-content">
                    <a class="btn dropbtn">Лікарня</a>
                    <ul>
                        <li>
                            <a class="btn" href="">Галерея</a>
                        </li>
                        <li>
                            <a class="btn" href="contacts.html">Контакти</a>
                        </li>
                        <li>
                            <a class="btn" href="vacancy.html">Вакансії</a>
                        </li>
                    </ul>
                </li>
                <li class="menu-item">
                    <a class="btn" href="staff.html">Наші лікарі</a>
                </li>
                <li class="menu-item">
                    <a class="btn" href="making-an-appointment.html">Запис на прийом</a>
                </li>
                <li class="menu-item">
                    <a class="btn" href="schedule-work.html">Графік роботи</a>
                </li>
                <li class="menu-item">
                    <a class="btn" href="quiz.html">Опитування</a>
                </li>
            </ul>
        </div>
    </header>
    <main>
        <div class="title-box">
            <h2>Інформація про лікаря</h2>
        </div>
        <div class="doctor-wrapper">
            <div class="doctor-info">
                <img src="../../../static/img/250w/aliona-grydenko.png" alt="">
                <div class="doctor-description">
                    <h3 class="header">Гриденко Альона Миколаївна</h3>
                    <div class="prof-info">
                        <div class="category-info">Лікар вищої категорії</div>
                        <div class="work-experience">Стаж: 35 років</div>
                    </div>
                    <a href="" class="feedback_btn">Залишити відгук</a>
                </div>
            </div>
        </div>
        <div class="title-box">
            <h2>Відгуки</h2>
        </div>
        <div class="reviews">
            <div class="review">
                <div class="account">
                    <span>Вадим</span>
                    <span>16.05.20</span>
                    <span>18:47</span>
                </div>
                <div class="comment">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam doloribus error excepturi in
                    itaque placeat, quasi qui quibusdam ratione repellendus saepe voluptatibus! Amet aperiam blanditiis
                    commodi culpa dignissimos distinctio dolorum ex harum incidunt iure magnam, molestiae nesciunt quam
                    sapiente suscipit tempora temporibus totam vel? Ad consectetur consequuntur culpa error fugit harum
                    ipsum laboriosam minus numquam pariatur porro quae quaerat quisquam, repellat vel? Accusamus alias
                    animi cum dolor, dolorum ducimus eius enim ex exercitationem hic libero maiores maxime natus
                    nesciunt nisi nobis, non nulla quaerat quasi qui quia quibusdam quo quos recusandae rem sapiente
                    sed, sunt suscipit totam ullam voluptas voluptatem.
                </div>
            </div>
            <div class="review">
                <div class="account">
                    <span>Богдан</span>
                    <span>26.10.21</span>
                    <span>11:10</span>
                </div>
                <div class="comment">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam doloribus error excepturi in
                    itaque placeat, quasi qui quibusdam ratione repellendus saepe voluptatibus! Amet aperiam blanditiis
                    commodi culpa dignissimos distinctio dolorum ex harum incidunt iure magnam, molestiae nesciunt quam
                    sapiente suscipit tempora temporibus totam vel?
                </div>
            </div>
            <div class="review">
                <div class="account">
                    <span>Вадим</span>
                    <span>16.05.20</span>
                    <span>18:47</span>
                </div>
                <div class="comment">
                    Нечасто залишаю відгуки, але важко стриматися: лікар дуже класний! Майже з дитинства були проблеми
                    із зором, але після надання консультації та лікування вже є результати.
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer-content">
            <h3>Харківська районна клініка</h3>
            <p>Комунальне некомерційне підприємство "Міська поліклініка № 496" Харківської міської ради</p>
            <ul class="socials">
                <li>
                    <a href="https://facebook.com"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                    <a href="https://instagram.com"><i class="fa fa-instagram"></i></a>
                </li>
                <li>
                    <a href="https://twitter.com"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                    <a href="https://youtube.com"><i class="fa fa-youtube"></i></a>
                </li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2008-2022</p>
            <p>Міністерство охорони здоров'я</p>
        </div>
    </footer>
</div>
<script src="https://kit.fontawesome.com/c3664bd84b.js" crossorigin="anonymous"></script>
<script src="../../../static/js/header.js"></script>
</body>
</html>