{% extends "clinic/base.html" %}
{% load static %}
{% load i18n %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/contacts.css' %}">
{% endblock %}

{% block header_contacts %}
    <a class="inner-btn disabled" href="{% url 'contacts' %}">{% trans 'Контакти' %}</a>
{% endblock %}

{% block mobile-menu_contacts %}
    <a class="btn disabled" href="{% url 'contacts' %}">{% trans 'Контакти' %}</a>
{% endblock %}

{% block language_href %}
    href="/{{ language.code }}/contacts"
{% endblock %}

{% block content %}
    <div class="title-box">
        <h2>Контакти</h2>
    </div>
    <section class="contacts-container">
        <div class="contacts">
            <article class="inner-contact" id="phones">
                <h4 class="subtitle">Телефони:</h4><br>
                <a class="link subtitle-text" id="phone_1" href="tel: +380665483699">+38066-548-36-99</a>,<br>
                <a class="link subtitle-text" id="phone_2" href="tel: +380975483699">+38097-548-36-99</a>
            </article>
            <article class="inner-contact" id="address">
                <h4 class="subtitle">Адреса:</h4>
                <span class="subtitle-text">вул. Тюрінська, 96</span>
            </article>
            <article class="inner-contact" id="email">
                <h4 class="subtitle">Email:</h4><br>
                <span class="subtitle-text" id="main_doctor">Головний лікар Мєтіла Євген Дмитрович:
                    <a class="link" href="mailto: polyclinic@ukr.net">polyclinic@ukr.net</a>
                    </span><br>
                <span class="subtitle-text" id="pers_dep">Відділ по роботі з персоналом:
                        <a class="link" href="mailto: kh_pers@ukr.net">kh_pers_496@ukr.net</a>
                    </span><br>
                <span class="subtitle-text" id="ad_dep">Відділ реклами:
                        <a class="link" href="mailto: kh_ad_496@ukr.net">kh_ad_496@ukr.net</a>
                    </span><br>
                <span class="subtitle-text" id="common_quest">Загальні питання:
                        <a class="link" href="mailto: kh_cl_496@ukr.net">kh_cl_496@ukr.net</a>
                    </span>
            </article>
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2564.724782613777!2d36.29115571589929!3d49.99776912775927!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4127a0a8db6a8ead%3A0x79e80c7b9c345863!2z0YPQuy4g0KLRjtGA0LjQvdGB0LrQsNGPLCA5Niwg0KXQsNGA0YzQutC-0LIsINCl0LDRgNGM0LrQvtCy0YHQutCw0Y8g0L7QsdC70LDRgdGC0YwsIDYxMDAw!5e0!3m2!1sru!2sua!4v1666687058008!5m2!1sru!2sua"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>
{% endblock %}