{% extends 'clinic/base.html' %}
{% load static %}
{% load i18n %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/making-an-appointment.css' %}">
    <title>Запис на прийом</title>
{% endblock %}

{% block mobile-menu_appointment %}
    <a class="btn disabled" href="{% url 'making-an-appointment' %}">{% trans 'Запис на прийом' %}</a>
{% endblock %}

{% block header_appointment %}
    <a class="btn disabled"
       href="{% url 'making-an-appointment' %}">{% trans 'Запис на прийом' %}</a>
{% endblock %}

{% block language_href %}
    href="/{{ language.code }}/making-an-appointment"
{% endblock %}

{% block content %}
    <div class="form-wrapper">
        <div class="form-container">
            <h2 class="title-block">{% trans 'Запис на прийом' %}</h2>
            {% if not doctor_err %}
            {% if err %}
                <p class="form-errors">{{ err }}</p>
            {% endif %}
            {% if success_message %}
                <p class="form-success">{{ success_message }}</p>
            {% endif %}
            <form method="POST" action="record" id="record-form">
                {% csrf_token %}
                <div class="user-details">
                    <div class="inner-box" id="family-doctor-block">
                        <label for="family-doctor" class="details">{% trans 'Сімейний лікар' %}</label><br>
                        <div class="info-block" id="family-doctor">
                            <input type="hidden" name="appointment_doctor_pk" value="{{ doctor.pk }}">
                            <span class="info">{{ doctor.lastname }} {{ doctor.name }} {{ doctor.patronymic }}, {{ doctor.category.name|lower }} {% trans 'кваліфікаційна категорія' %}</span>
                        </div>
                    </div>
                    <div class="inner-box" id="record-date-block">
                        <label class="details">{% trans 'Дата' %}</label><br>
                        <div class="info-block" id="date">
                            {% if appointments %}
                                {% for app_date in app_dates %}
                                    <div class="appointment-date">
                                        <input type="radio" class="info date" id="appointment-date-{{ app_date }}"
                                               name="appointment_date"
                                               value="{{ app_date }}" required>
                                        <label for="appointment-date-{{ app_date }}"
                                               style="font-size: 1.2em;">{{ app_date }}</label>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <span class="unknown-block">{% trans 'немає зазначених прийомів' %}</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="inner-box" id="record-time-block">
                        <label class="details">{% trans 'Час' %}</label><br>
                        <div class="info-block" id="time">
                            {% if appointments %}
                                {% for app in appointments %}
                                    <div class="appointment-time {{ app.start_datetime.date|date:'d.m.Y' }}">
                                        <input type="radio" class="info time"
                                               id="appointment-time-{{ app.start_datetime.date|date:'d.m.Y' }}-{{ app.start_datetime.time|time:'H:i' }}"
                                               name="appointment_time"
                                               value="{{ app.start_datetime.time }}" required>
                                        <label for="appointment-time-{{ app.start_datetime.date|date:'d.m.Y' }}-{{ app.start_datetime.time|time:'H:i' }}"
                                               style="font-size: 1.2em;">{{ app.start_datetime.time }}-{{ app.end_datetime.time }}</label>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <span class="unknown-block">{% trans 'немає зазначених прийомів' %}</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="inner-box" id="health-complaint">
                        <label for="complaint" class="details">{% trans "Скарги на здоров'я" %} <small
                                style="color: rgb(50, 200, 100)">{% trans "(необов'язково)" %}</small></label>
                        <textarea class="textholder" id="complaint"
                                  placeholder="{% trans "Опишіть недоліки Вашого здоров'я..." %}"
                                  name="appointment_complaint"></textarea>
                    </div>
                </div>
                <div id="buttons">
                    <input class="button" id="record" type="submit" value="{% trans 'Записатися' %}">
                    <input class="button" type="reset" value="{% trans 'Очистити все' %}" id="clear">
                </div>
            </form>
            {% else %}
                <p class="err-msg">{{ doctor_err }}</p>
        {% endif %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/form.js' %}"></script>
{% endblock %}