{% extends 'clinic/base.html' %}
{% load static %}

{% block head %}
    <title>Підтвердження операції</title>
{% endblock %}

{% block content %}
    <style>
        .contract-form-wrapper {
            display: grid;
            justify-items: center;
        }

        form#contract-form {
            display: grid;
            justify-content: center;
            border: solid 1px black;
            padding: 1em;
        }

        form#contract-form .inner-box > * {
            font-size: 1.2em;
        }

        form#contract-form .inner-box {
            display: grid;
        }

        form#contract-form .inner-box .input-submit-block {
            display: flex;
            column-gap: 1em;
            font-size: 1.5em;
        }

        .inner-box .input-submit-block input#code-submitter{
            padding: 0.1em;
        }

        .input-submit-block input#verification-field {
            font-size: inherit;
        }

        @media screen and (max-width: 576px) {
            form#contract-form {
                max-width: 90%;
                padding: 0.6em;
            }

            form#contract-form .inner-box > *,
            .inner-box .input-submit-block input#code-submitter{
                font-size: 0.8em;
            }

            form#contract-form .inner-box .input-submit-block {
                font-size: 1.2em;
                column-gap: 0.5em;
            }
        }
    </style>
    <div class="contract-form-wrapper">
        <form action="code-submitting" method="POST" id="contract-form">
            {% csrf_token %}
            <div class="inner-box">
                <label for="verification-field">На номер телефону <i>{{ phone }}</i> було надіслано код. <br> Введіть
                    його
                    нижче для підтвердження</label>
                <input id="form-data" name="form_data" value="{{ form_data }}" hidden>
                <input name="person_phone_number" value="{{ phone }}" hidden>
                <div class="input-submit-block">
                    <input id="verification-field" name="verification_code">
                    <input type="submit" value="Відправити" id="code-submitter">
                </div>
            </div>
        </form>
    </div>
{% endblock %}
