{% extends 'clinic/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/quiz.css' %}">
    <title>Опитування</title>
{% endblock %}

{% block content %}
    <div class="title-box">
        <h2>Опитування щодо знання заходів на протидію COVID</h2>
    </div>
    <div class="form-wrapper">
        <form class="form-wrapper__form" action="quiz" method="POST">
            <h2 id="form__title"></h2><br>
            <fieldset id="form__content">
                <legend>Оберіть варіант</legend>
                <div id="form__variants">
                </div>
            </fieldset>
            <input type="submit" class="form__button" value="Продовжити">
        </form>
    </div>
    <div class="results-wrapper hidden">
        <div class="results">
            <div class="variants">
                <p class="variants__title"></p>
                <div class="variants__answers">
                    <div class="variants__answer chosen"></div>
                    <div class="variants__answer correct"></div>
                </div>
            </div>
            <div class="variants">
                <p class="variants__title"></p>
                <div class="variants__answers">
                    <div class="variants__answer chosen"></div>
                    <div class="variants__answer correct"></div>
                </div>
            </div>
            <div class="variants">
                <p class="variants__title"></p>
                <div class="variants__answers">
                    <div class="variants__answer chosen"></div>
                    <div class="variants__answer correct"></div>
                </div>
            </div>
            <div class="variants">
                <p class="variants__title"></p>
                <div class="variants__answers">
                    <div class="variants__answer chosen"></div>
                    <div class="variants__answer correct"></div>
                </div>
            </div>
            <div class="total">
                <p class="total__title">Висновки</p>
                <div class="total__diagrams">
                    <div class="result">
                        <div class="variant"><p>Правильно</p></div>
                        <div class="scale-wrapper">
                            <div class="scale green"></div>
                        </div>
                        <div class="percentage"></div>
                    </div>
                    <div class="result">
                        <div class="variant"><p>Неправильно</p></div>
                        <div class="scale-wrapper">
                            <div class="scale red"></div>
                        </div>
                        <div class="percentage"></div>
                    </div>
                </div>
                <div class="verdict-wrapper">
                    <p class="verdict">Ви пройшли тестування, а отже, гарно знаєтеся на заходах протидії COVID-19.
                        Бувайте
                        здорові!</p>
                </div>
            </div>
            <div class="home-wrapper">
                <a href="../index.html" class="home">Повернутися до головної сторінки</a>
            </div>
        </div>
    </div>
{% endblock %}