{% extends "clinic/base.html" %}
{% load static %}
{% load i18n %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/reviews.css' %}">
    <title>Відгуки</title>
{% endblock %}


{% block language_href %}
    href="/{{ language.code }}/reviews"
{% endblock %}

{% block content %}
    <div class="title-box">
        <h2>Інформація про лікаря</h2>
    </div>
    {% load clinic_extras %}
    <div class="doctor-wrapper">
        <div class="doctor-info">
            <img srcset="{% get_static_prefix %}img/250w/{{ doctor.image_name }}.png 250w,
                             {% get_static_prefix %}img/200w/{{ doctor.image_name }}.png 200w,
                             {% get_static_prefix %}img/150w/{{ doctor.image_name }}.png 150w"
                 sizes="(max-width: 1024px) 150px,
                        (max-width: 1452px) 200px,
                        250px"
                 src="{% get_static_prefix %}img/250w/{{ doctor.image_name }}.png" alt="">
            <div class="doctor-description">
                <h3 class="header">{{ doctor.lastname }} {{ doctor.name }} {{ doctor.patronymic }}</h3>
                <div class="prof-info">
                    <span class="category-info">{{ doctor.category.name }} кваліфікаційна категорія</span>
                    <div class="work-experience">Стаж: {{ doctor.work_start_date|years_to_now }} років</div>
                </div>
                <a href="" class="feedback_btn">Залишити відгук</a>
            </div>
        </div>
    </div>
    <div class="title-box">
        <h2>Відгуки</h2>
    </div>
    <div class="reviews">
        <form class="reviews__menu">
            <div class="reviews__menu__title">Налаштування відгуків</div>
            <div class="reviews__menu__elems">
                <div class="menu__elem">
                    <label for="background" class="menu__option__title">Фон</label>
                    <select name="options" id="background">
                        <option value="">--Оберіть колір фону--</option>
                        <option value="red">Червоний</option>
                        <option value="blue">Синій</option>
                        <option value="green">Зелений</option>
                        <option value="yellow">Жовтий</option>
                    </select>
                </div>
                <div class="menu__elem">
                    <label for="font-size" class="menu__option__title">Розмір шрифта</label>
                    <select name="options" id="font-size">
                        <option value="">--Оберіть розмір шрифта--</option>
                        <option value="0.4em">0.4em</option>
                        <option value="0.6em">0.6em</option>
                        <option value="0.8em">0.8em</option>
                        <option value="1em">1em</option>
                        <option value="1.2em">1.2em</option>
                        <option value="1.5em">1.5em</option>
                    </select>
                </div>
                <div class="menu__elem">
                    <label for="font-type" class="menu__option__title">Тип шрифта</label>
                    <select name="options" id="font-type">
                        <option value="">--Оберіть тип шрифту--</option>
                        <option value="serif">Serif</option>
                        <option value="sans-serif">Sans-serif</option>
                    </select>
                </div>
                <div class="menu__elem">
                    <input type="reset" id="default-button" value="За замовченням">
                </div>
            </div>
        </form>
        {% if not doctor.review_set.all %}
            <p class="no-reviews">Немає жодного відгуку</p>
        {% else %}
            {% for review in doctor.review_set.all %}
                <div class="review">
                    <blockquote class="account">
                        <cite>{{ review.patient.lastname }} {{ review.patient.name }}</cite>
                        <time datetime="{{ review.created_at }}">{% frmt_datetime review.created_at "%d.%m.%Y %H:%M" %}</time>
                    </blockquote>
                    <p class="comment">{{ review.text }}</p>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="review-blank-wrapper hidden">
        {% if user.is_authenticated %}
            {% if user.patient.doctor == doctor %}
                <div class="review-blank">
                    <div class="close-block">
                        <a href="" class="close-button">X</a>
                    </div>
                    <form method="post" action="{% url 'send_review' %}" class="blank"
                          data-doctor-lastname-name="{{ doctor.image_name }}">
                        {% csrf_token %}
                        <input type="hidden" name="doctor_lastname_name" value="{{ doctor.image_name }}">
                        <div class="inner-box" id="review-box">
                            <label for="review-text">Текст відгуку</label>
                            <textarea class="review-textarea" id="review-text" name="review_text"></textarea>
                        </div>
                        <div class="inner-box" id="submit-button-wrapper">
                            <input type="submit" class="submit-review-button" value="Відправити">
                        </div>
                    </form>
                </div>
            {% else %}
                <div class="err-blank">
                    <div class="close-block">
                        <a href="" class="close-button">X</a>
                    </div>
                    <h2>Для того, щоб залишати відгуки для цього лікаря, необхідно укласти із ним контракт</h2>
                </div>
            {% endif %}
        {% else %}
            <div class="err-blank">
                <div class="close-block">
                    <a href="" class="close-button">X</a>
                </div>
                <h2>Залишати відгуки можуть тільки авторизовані користувачі. <a href="{% url 'login' %}"
                                                                                style="text-decoration: none">Увійти</a>
                </h2>
            </div>
        {% endif %}
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/reviews.js' %}" type="module"></script>
{% endblock %}