{% extends "clinic/base.html" %}
{% load static %}
{% load i18n %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/reviews.css' %}">
    <title>{% trans 'Відгуки' %}</title>
{% endblock %}


{% block language_href %}
    href="/{{ language.code }}/reviews/{{ doctor.slug }}"
{% endblock %}

{% block content %}
    <div class="title-box">
        <h2>{% trans 'Інформація про лікаря' %}</h2>
    </div>
    {% load clinic_extras %}
    <div class="doctor-wrapper">
        <div class="doctor-info">
            <img srcset="{% get_static_prefix %}img/250w/{{ doctor.image_name }}.png 250w,
                             {% get_static_prefix %}img/200w/{{ doctor.image_name }}.png 200w,
                             {% get_static_prefix %}img/150w/{{ doctor.image_name }}.png 150w"
                 sizes="(max-width: 1024px) 150px,
                        (max-width: 1452px) 200px,
                        250px"
                 src="{% get_static_prefix %}img/250w/{{ doctor.image_name }}.png" alt="">
            <div class="doctor-description">
                <h3 class="header">{{ doctor.lastname }} {{ doctor.name }} {{ doctor.patronymic }}</h3>
                <div class="prof-info">
                    <span class="category-info">{{ doctor.category.name }} {% trans 'кваліфікаційна категорія' %}</span>
                    <div class="work-experience">{% trans 'Стаж' %}: {{ doctor.work_start_date|years_to_now }}
                    {% get_current_language as CURRENT_LANGUAGE %}
                            {% if CURRENT_LANGUAGE == "uk" %}
                                {% uk_pluralize doctor.work_start_date|years_to_now "рік,роки,років" %}
                            {% else %}
                                {% blocktrans count years=doctor.work_start_date|years_to_now %}
                                    year
                                {% plural %}
                                    years
                                {% endblocktrans %}
                            {% endif %}
                    </div>
                </div>
                <a href="" class="feedback_btn">{% trans 'Залишити відгук' %}</a>
            </div>
        </div>
    </div>
    <div class="title-box">
        <h2>{% trans 'Відгуки' %}</h2>
    </div>
    <div class="reviews">
        <form class="reviews__menu">
            <div class="reviews__menu__title">{% trans 'Налаштування відгуків' %}</div>
            <div class="reviews__menu__elems">
                <div class="menu__elem">
                    <label for="background" class="menu__option__title">{% trans 'Фон' %}</label>
                    <select name="options" id="background">
                        <option value="">--{% trans 'Оберіть колір фону' %}--</option>
                        <option value="red">{% trans 'Червоний' %}</option>
                        <option value="blue">{% trans 'Синій' %}</option>
                        <option value="green">{% trans 'Зелений' %}</option>
                        <option value="yellow">{% trans 'Жовтий' %}</option>
                    </select>
                </div>
                <div class="menu__elem">
                    <label for="font-size" class="menu__option__title">{% trans 'Розмір шрифта' %}</label>
                    <select name="options" id="font-size">
                        <option value="">--{% trans 'Оберіть розмір шрифта' %}--</option>
                        <option value="0.4em">0.4em</option>
                        <option value="0.6em">0.6em</option>
                        <option value="0.8em">0.8em</option>
                        <option value="1em">1em</option>
                        <option value="1.2em">1.2em</option>
                        <option value="1.5em">1.5em</option>
                    </select>
                </div>
                <div class="menu__elem">
                    <label for="font-type" class="menu__option__title">{% trans 'Тип шрифта' %}</label>
                    <select name="options" id="font-type">
                        <option value="">--{% trans 'Оберіть тип шрифту' %}--</option>
                        <option value="serif">Serif</option>
                        <option value="sans-serif">Sans-serif</option>
                    </select>
                </div>
                <div class="menu__elem">
                    <input type="reset" id="default-button" value="{% trans 'За замовченням' %}">
                </div>
            </div>
        </form>
        {% if not doctor.review_set.all %}
            <p class="no-reviews">{% trans 'Немає жодного відгуку' %}</p>
        {% else %}
            {% for review in doctor.review_set.all reversed %}
                <div class="review">
                    <blockquote class="account">
                        <cite>{{ review.patient.lastname }} {{ review.patient.name }}</cite>
                        <time datetime="{{ review.created_at }}">{% frmt_datetime review.created_at "%d.%m.%Y %H:%M" %}</time>
                    </blockquote>
                    <p class="comment">{{ review.text }}</p>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="review-blank-wrapper hidden">
        {% if user.is_authenticated %}
            {% if user.patient.doctor == doctor %}
                <div class="review-blank">
                    <div class="close-block">
                        <a href="" class="close-button">X</a>
                    </div>
                    <form method="post" action="{% url 'send_review' %}" class="blank">
                        {% csrf_token %}
                        <input type="hidden" name="doctor_url" value="{{ doctor.slug }}">
                        <div class="inner-box" id="review-box">
                            <label for="review-text">{% trans 'Текст відгуку' %}</label>
                            <textarea class="review-textarea" id="review-text" name="review_text"></textarea>
                        </div>
                        <div class="inner-box" id="submit-button-wrapper">
                            <input type="submit" class="submit-review-button" value="{% trans 'Відправити' %}">
                        </div>
                    </form>
                </div>
            {% else %}
                <div class="err-blank">
                    <div class="close-block">
                        <a href="" class="close-button">X</a>
                    </div>
                    <h2>{% trans 'Для того, щоб залишати відгуки для цього лікаря, необхідно укласти із ним контракт' %}</h2>
                </div>
            {% endif %}
        {% else %}
            <div class="err-blank">
                <div class="close-block">
                    <a href="" class="close-button">X</a>
                </div>
                <h2>{% trans 'Залишати відгуки можуть тільки аутентифіковані користувачі' %} <a href="{% url 'login' %}?next={{ request.path }}"
                                                                                style="text-decoration: none">{% trans 'Увійти' %}</a>
                </h2>
            </div>
        {% endif %}
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/reviews.js' %}" type="module"></script>
{% endblock %}