{% extends "clinic/base.html" %}
{% load static %}
{% load i18n %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/reviews.css' %}">
    <title>Відгуки</title>
{% endblock %}


{% block language_href %}
    href="/{{ language.code }}/reviews"
{% endblock %}

{% block content %}
    <div class="title-box">
        <h2>Інформація про лікаря</h2>
    </div>
    {% load clinic_extras %}
    <div class="doctor-wrapper">
        <div class="doctor-info">
            <img srcset="{% get_static_prefix %}img/250w/alina-radecka.png 250w,
                             {% get_static_prefix %}img/200w/alina-radecka.png 200w,
                             {% get_static_prefix %}img/150w/alina-radecka.png 150w"
                 sizes="(max-width: 1024px) 150px,
                        (max-width: 1452px) 200px,
                        250px"
                 src="{% get_static_prefix %}img/250w/alina-radecka.png" alt="">
            <div class="doctor-description">
                <h3 class="header">Радецька Аліна Миколаївна</h3>
                <div class="prof-info">
                    <span class="category-info">Вища кваліфікаційна категорія</span>
                    <div class="work-experience">Стаж: 5 років</div>
                </div>
                <a href="" class="feedback_btn">Залишити відгук</a>
            </div>
        </div>
    </div>
    <div class="title-box">
        <h2>Відгуки</h2>
    </div>
    <div class="reviews">
        <form class="reviews__menu">
            <div class="reviews__menu__title">Налаштування відгуків</div>
            <div class="reviews__menu__elems">
                <div class="menu__elem">
                    <label for="background" class="menu__option__title">Фон</label>
                    <select name="options" id="background">
                        <option value="">--Оберіть колір фону--</option>
                        <option value="red">Червоний</option>
                        <option value="blue">Синій</option>
                        <option value="green">Зелений</option>
                        <option value="yellow">Жовтий</option>
                    </select>
                </div>
                <div class="menu__elem">
                    <label for="font-size" class="menu__option__title">Розмір шрифта</label>
                    <select name="options" id="font-size">
                        <option value="">--Оберіть розмір шрифта--</option>
                        <option value="0.4em">0.4em</option>
                        <option value="0.6em">0.6em</option>
                        <option value="0.8em">0.8em</option>
                        <option value="1em">1em</option>
                        <option value="1.2em">1.2em</option>
                        <option value="1.5em">1.5em</option>
                    </select>
                </div>
                <div class="menu__elem">
                    <label for="font-type" class="menu__option__title">Тип шрифта</label>
                    <select name="options" id="font-type">
                        <option value="">--Оберіть тип шрифту--</option>
                        <option value="serif">Serif</option>
                        <option value="sans-serif">Sans-serif</option>
                    </select>
                </div>
                <div class="menu__elem">
                    <input type="reset" id="default-button" value="За замовченням">
                </div>
            </div>
        </form>
        <p class="no-reviews">Немає жодного відгуку</p>
    </div>
    <div class="review-blank-wrapper hidden">
        <div class="review-blank">
            <a href="" class="close-button">X</a>
            <form method="post" action="#" class="blank" data-doctor-id="1">
                {% csrf_token %}
                <input type="hidden" name="doctor_id" value="1">
                <div class="inner-box" id="lastname-box">
                    <label for="lastname">Прізвище</label>
                    <input class="review-input" id="lastname" type="text" placeholder="Введіть прізвище"
                           name="lastname">
                </div>
                <div class="inner-box" id="name-box">
                    <label for="name">Ім'я</label>
                    <input class="review-input" id="name" type="text" placeholder="Введіть ім'я" name="name">
                </div>
                <div class="inner-box" id="contract-num-box">
                    <label for="contract-num">Email</label>
                    <input class="review-input"
                           id="contract-num"
                           type="email"
                           placeholder="Введіть адресу електронної пошти"
                           name="contract-num">
                </div>
                <div class="inner-box" id="review-box">
                    <label for="review-text">Текст відгуку</label>
                    <textarea class="review-textarea" id="review-text" name="review-text" disabled></textarea>
                </div>
                <div class="inner-box" id="submit-button-wrapper">
                    <input type="submit" class="submit-review-button" value="Відправити">
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/reviews.js' %}" type="module"></script>
    <script src="{% static 'js/reviewForm.js' %}" type="module"></script>
{% endblock %}