<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Наші лікарі</title>
    <link rel="stylesheet" href="../../../static/css/style.css">
    <link rel="stylesheet" href="../../../static/css/staff.css">
</head>
<body>
<div class="wrapper">
    <header class="clinic-head">
        <div class="site-name">Харківська районна клініка №496</div>
        <ul class="menu">
            <li class="menu-item">
                <a href="../index.html" class="logo">
                    <img src="../../../static/img/clinic_logo.png" alt="">
                </a>
            </li>
            <li class="menu-item dropdown">
                <a class="btn dropbtn">Лікарня</a>
                <ul class="dropdown-content">
                    <li>
                        <a class="inner-btn" href="">Галерея</a>
                    </li>
                    <li>
                        <a class="inner-btn" href="contacts.html">Контакти</a>
                    </li>
                    <li>
                        <a class="inner-btn" href="vacancy.html">Вакансії</a>
                    </li>
                </ul>
            </li>
            <li class="menu-item">
                <a class="btn disabled" href="staff.html">Наші лікарі</a>
            </li>
            <li class="menu-item">
                <a class="btn" href="making-an-appointment.html">Запис на прийом</a>
            </li>
            <li class="menu-item">
                <a class="btn" href="schedule-work.html">Графік роботи</a>
            </li>
            <li class="menu-item">
                <a class="btn" href="quiz.html">Опитування</a>
            </li>
        </ul>
        <div class="mobile-menu">
            <div class="mobile-menu-btn-wrapper">
                <button>
                    <i class="fa-solid fa-bars"></i>
                </button>
            </div>
            <ul class="mobile-menu-content">
                <li class="dropdown-mobile"></li>
                <li class="menu-item">
                    <a class="btn" href="../index.html">Додому</a>
                </li>
                <li class="menu-item dropdown-content">
                    <a class="btn dropbtn">Лікарня</a>
                    <ul>
                        <li>
                            <a class="btn" href="#">Галерея</a>
                        </li>
                        <li>
                            <a class="btn" href="contacts.html">Контакти</a>
                        </li>
                        <li>
                            <a class="btn" href="vacancy.html">Вакансії</a>
                        </li>
                    </ul>
                </li>
                <li class="menu-item">
                    <a class="btn disabled" href="staff.html">Наші лікарі</a>
                </li>
                <li class="menu-item">
                    <a class="btn" href="making-an-appointment.html">Запис на прийом</a>
                </li>
                <li class="menu-item">
                    <a class="btn" href="schedule-work.html">Графік роботи</a>
                </li>
                <li class="menu-item">
                    <a class="btn" href="quiz.html">Опитування</a>
                </li>
            </ul>
        </div>
    </header>
    <main>
        <div class="title-box">
            <h2>Наші лікарі</h2>
        </div>
        <div class="doctors">
            <div class="block-doctor">
                <div class="photo">
                    <img srcset="../../../static/img/250w/alina-radecka.png 250w,
                    ../../../static/img       ../img/200w/alina-radecka.png 200w,
       ../../../static/img                    ../img/150w/alina-radecka.png 150w"
                         sizes="(max-width: 768px) 150px,
                                (max-width: 1300px) 200px,
                                250px"
                         src="../../../static/img/250w/alina-radecka.png" alt="">
                </div>
                <div class="full-description">
                    <h5 class="description-header">Радецька Аліна Миколаївна</h5>
                    <div class="description-block">
                        <p class="description">Перша кваліфікаційна категорія<br>
                            Номер кабінету № 4<br>
                            Номер телефону: 548-69-213, 0664586771<br>
                        </p>
                        <p class="experience-description">Стаж роботи: 10 років</p>
                        <a class="doctor-btn" href="alina-radecka.html">Докладніше...</a>
                    </div>
                </div>
            </div>
            <div class="block-doctor">
                <div class="photo">
                    <img srcset="../../../static/img/250w/alina-tezer.png 250w,
                    ../../../static/img       ../img/200w/alina-tezer.png 200w,
       ../../../static/img                    ../img/150w/alina-tezer.png 150w"
                         sizes="(max-width: 768px) 150px,
                                (max-width: 1300px) 200px,
                                250px"
                         src="../../../static/img/250w/alina-tezer.png" alt="">
                </div>
                <div class="full-description">
                    <h5 class="description-header">Тезер Аліна Олександрівна</h5>
                    <div class="description-block">
                        <p class="description">Друга кваліфікаційна категорія<br>
                            Номер кабінету № 14<br>
                            Номер телефону: 856-14-04, 0963868677<br>
                        </p>
                        <p class="experience-description">Стаж роботи: 2 роки</p>
                        <a class="doctor-btn" href="#">Докладніше...</a>
                    </div>
                </div>
            </div>
            <div class="block-doctor">
                <div class="photo">
                    <img srcset="../../../static/img/250w/pavlo-lozovyi.png 250w,
                    ../../../static/img       ../img/200w/pavlo-lozovyi.png 200w,
       ../../../static/img                    ../img/150w/pavlo-lozovyi.png 150w"
                         sizes="(max-width: 768px) 150px,
                                (max-width: 1300px) 200px,
                                250px"
                         src="../../../static/img/250w/pavlo-lozovyi.png" alt="">
                </div>
                <div class="full-description">
                    <h5 class="description-header">Лозовий Павло Вікторович</h5>
                    <div class="description-block">
                        <p class="description">Вища кваліфікаційна категорія<br>
                            Номер кабінету № 73-А<br>
                            Номер телефону: 725-06-42, 0985042558<br>
                        </p>
                        <p class="experience-description">Стаж роботи: 7 років</p>
                        <a class="doctor-btn" href="">Докладніше...</a>
                    </div>
                </div>
            </div>
            <div class="block-doctor">
                <div class="photo">
                    <img srcset="../../../static/img/250w/aliona-grydenko.png 250w,
                    ../../../static/img       ../img/200w/aliona-grydenko.png 200w,
       ../../../static/img                    ../img/150w/aliona-grydenko.png 150w"
                         sizes="(max-width: 768px) 150px,
                                (max-width: 1300px) 200px,
                                250px"
                         src="../../../static/img/250w/aliona-grydenko.png" alt="">
                </div>
                <div class="full-description">
                    <h5 class="description-header">Гриденко Альона Олегівна</h5>
                    <div class="description-block">
                        <p class="description">Вища кваліфікаційна категорія<br>
                            Номер кабінету № 10<br>
                            Номер телефону: 325-46-52, 0953185823<br>
                        </p>
                        <p class="experience-description">Стаж роботи: 20 років</p>
                        <a class="doctor-btn" href="aliona-grydenko.html">Докладніше...</a>
                    </div>
                </div>
            </div>
            <div class="block-doctor">
                <div class="photo">
                    <img srcset="../../../static/img/250w/sylvestr-chikov.png 250w,
                    ../../../static/img       ../img/200w/sylvestr-chikov.png 200w,
       ../../../static/img                    ../img/150w/sylvestr-chikov.png 150w"
                         sizes="(max-width: 768px) 150px,
                                (max-width: 1300px) 200px,
                                250px"
                         src="../../../static/img/250w/sylvestr-chikov.png" alt="">
                </div>
                <div class="full-description">
                    <h5 class="description-header">Чіков Сильвестр Русланович</h5>
                    <div class="description-block">
                        <p class="description">Вища кваліфікаційна категорія<br>
                            Номер кабінету № 49<br>
                            Номер телефону: 154-89-75, 0962508177<br>
                        </p>
                        <p class="experience-description">Стаж роботи: 15 років</p>
                        <a class="doctor-btn" href="aliona-grydenko.html">Докладніше...</a>
                    </div>
                </div>
            </div>
            <div class="block-doctor">
                <div class="photo">
                    <img srcset="../../../static/img/250w/sarkis-ozhegov.png 250w,
                    ../../../static/img       ../img/200w/sarkis-ozhegov.png 200w,
       ../../../static/img                    ../img/150w/sarkis-ozhegov.png 150w"
                         sizes="(max-width: 768px) 150px,
                                (max-width: 1300px) 200px,
                                250px"
                         src="../../../static/img/250w/sarkis-ozhegov.png" alt="">
                </div>
                <div class="full-description">
                    <h5 class="description-header">Ожегов Саркіс Арсеньєвич</h5>
                    <div class="description-block">
                        <p class="description">Перша кваліфікаційна категорія<br>
                            Номер кабінету № 24<br>
                            Номер телефону: 201-25-20, 0992510272<br>
                        </p>
                        <p class="experience-description">Стаж роботи: 4 роки</p>
                        <a class="doctor-btn" href="aliona-grydenko.html">Докладніше...</a>
                    </div>
                </div>
            </div>
            <div class="block-doctor">
                <div class="photo">
                    <img srcset="../../../static/img/250w/yana_trymova.png 250w,
                    ../../../static/img       ../img/200w/yana_trymova.png 200w,
       ../../../static/img                    ../img/150w/yana_trymova.png 150w"
                         sizes="(max-width: 768px) 150px,
                                (max-width: 1300px) 200px,
                                250px"
                         src="../../../static/img/250w/yana_trymova.png" alt="">
                </div>
                <div class="full-description">
                    <h5 class="description-header">Тримова Яна Генадіївна</h5>
                    <div class="description-block">
                        <p class="description">Перша кваліфікаційна категорія<br>
                            Номер кабінету № 15<br>
                            Номер телефону: 156-20-45, 0687921027<br>
                        </p>
                        <p class="experience-description">Стаж роботи: 7 років</p>
                        <a class="doctor-btn" href="aliona-grydenko.html">Докладніше...</a>
                    </div>
                </div>
            </div>
            <div class="block-doctor">
                <div class="photo">
                    <img srcset="../../../static/img/250w/anna-vesela.png 250w,
                    ../../../static/img       ../img/200w/anna-vesela.png 200w,
       ../../../static/img                    ../img/150w/anna-vesela.png 150w"
                         sizes="(max-width: 768px) 150px,
                                (max-width: 1300px) 200px,
                                250px"
                         src="../../../static/img/250w/anna-vesela.png" alt="">
                </div>
                <div class="full-description">
                    <h5 class="description-header">Весела Ганна Романівна</h5>
                    <div class="description-block">
                        <p class="description">Вища кваліфікаційна категорія<br>
                            Номер кабінету № 35<br>
                            Номер телефону: 156-20-45, 0687921027<br>
                        </p>
                        <p class="experience-description">Стаж роботи: 10 років</p>
                        <a class="doctor-btn" href="aliona-grydenko.html">Докладніше...</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer-content">
            <h3>Харківська районна клініка</h3>
            <p>Комунальне некомерційне підприємство "Міська поліклініка № 496" Харківської міської ради</p>
            <ul class="socials">
                <li>
                    <a href="https://facebook.com"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                    <a href="https://instagram.com"><i class="fa fa-instagram"></i></a>
                </li>
                <li>
                    <a href="https://twitter.com"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                    <a href="https://youtube.com"><i class="fa fa-youtube"></i></a>
                </li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2008-2022</p>
            <p>Міністерство охорони здоров'я</p>
        </div>
    </footer>
</div>
<script src="https://kit.fontawesome.com/c3664bd84b.js" crossorigin="anonymous"></script>
<script src="../../../static/js/header.js"></script>
</body>
</html>
