{% extends 'clinic/base.html' %}
{% load static %}
{% load i18n %}
{% load clinic_extras %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/staff.css' %}">
    <title>{% trans 'Наші лікарі' %}</title>
{% endblock %}

{% block header_staff %}
    <a class="btn disabled" href="{% url 'staff' %}">{% trans 'Наші лікарі' %}</a>
{% endblock %}

{% block mobile-menu_staff %}
    <a class="btn disabled" href="{% url 'staff' %}">{% trans 'Наші лікарі' %}</a>
{% endblock %}


{% block language_href %}
    href="/{{ language.code }}/staff"
{% endblock %}

{% block content %}
    <div class="title-box">
        <h2>{% trans 'Наші лікарі' %}</h2>
    </div>
    <div class="doctors">
        {% for doctor in doctors %}
            <div class="block-doctor">
                <div class="photo">
                    <img srcset="{% get_static_prefix %}img/250w/{{ doctor.image_name }}.png 250w,
                                 {% get_static_prefix %}img/200w/{{ doctor.image_name }}.png 200w,
                                 {% get_static_prefix %}img/150w/{{ doctor.image_name }}.png 150w"
                         sizes="(max-width: 768px) 150px,
                                (max-width: 1300px) 200px,
                                250px"
                         src="{% get_static_prefix %}img/250w/{{ doctor.image_name }}.png" alt="">
                </div>
                <div class="full-description">
                    <h5 class="description-header">{{ doctor.lastname }} {{ doctor.name }} {{ doctor.patronymic }}</h5>
                    <div class="description-block">
                        <p class="description">{{ doctor.category.name }} {% trans 'кваліфікаційна категорія' %}<br>
                            {% trans 'Номер кабінету №' %} 4<br>
                            {% trans 'Номери телефону' %}:
                            {% for phone_obj in doctor.doctorphonenumber_set.values %}
                                {{ phone_obj.phone_number_value }}{% if not forloop.last %},{% endif %}
                            {% endfor %}<br>
                        </p>
                        <p class="experience-description">{% trans 'Стаж роботи' %}: {{ doctor.work_start_date|years_to_now }}
                            {% get_current_language as CURRENT_LANGUAGE %}
                            {% if CURRENT_LANGUAGE == "uk" %}
                                {% uk_pluralize doctor.work_start_date|years_to_now "рік,роки,років" %}
                            {% else %}
                                {% blocktrans count years=doctor.work_start_date|years_to_now %}
                                    year
                                {% plural %}
                                    years
                                {% endblocktrans %}
                            {% endif %}
                        </p>
                        <a class="doctor-btn"
                           href="{% url 'reviews' doctor_slug=doctor.slug %}">{% trans 'Докладніше...' %}</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
<footer>
    <div class="footer-content">
        <h3>Харківська районна клініка</h3>
        <p>Комунальне некомерційне підприємство "Міська поліклініка № 496" Харківської міської ради</p>
        <ul class="socials">
            <li>
                <a href="https://facebook.com"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
                <a href="https://instagram.com"><i class="fa fa-instagram"></i></a>
            </li>
            <li>
                <a href="https://twitter.com"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
                <a href="https://youtube.com"><i class="fa fa-youtube"></i></a>
            </li>
        </ul>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2008-2022</p>
        <p>Міністерство охорони здоров'я</p>
    </div>
</footer>
<script src="https://kit.fontawesome.com/c3664bd84b.js" crossorigin="anonymous"></script>
<script src="../js/header.js"></script>