{% extends 'clinic/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/quiz.css' %}">
    <title>Опитування</title>
{% endblock %}

{% block header %}
        <header class="clinic-head">
            <div class="site-name">Тестова робота (клініка)</div>
            <ul class="menu">
                <li class="menu-item">
                    <a href="/" class="logo">
                        <img src="{% static 'img/clinic_logo.png' %}" alt="">
                    </a>
                </li>
                <li class="menu-item dropdown">
                    <a class="btn dropbtn">Лікарня</a>
                    <ul class="dropdown-content">
                        <li>
                            <a class="inner-btn" href="">Галерея</a>
                        </li>
                        <li>
                            <a class="inner-btn" href="../contacts">Контакти</a>
                        </li>
                        <li>
                            <a class="inner-btn" href="../vacancy">Вакансії</a>
                        </li>
                    </ul>
                </li>
                <li class="menu-item">
                    <a class="btn" href="../staff">Наші лікарі</a>
                </li>
                <li class="menu-item dropdown">
                    <a class="btn dropbtn" href="../making-an-appointment">Запис на прийом</a>
                    <ul class="dropdown-content">
                        <li>
                            <a class="inner-btn" href="../making-a-contract">Заключити контракт</a>
                        </li>
                    </ul>
                </li>
                <li class="menu-item">
                    <a class="btn" href="../schedule">Графік роботи</a>
                </li>
                <li class="menu-item">
                    <a class="btn" href="../quiz">Опитування</a>
                </li>
            </ul>
            <div class="mobile-menu">
                <div class="mobile-menu-btn-wrapper">
                    <button>
                        <i class="fa-solid fa-bars"></i>
                    </button>
                </div>
                <ul class="mobile-menu-content hidden">
                    <li class="dropdown-mobile"></li>
                    <li class="menu-item">
                        <a class="btn" href="/">Додому</a>
                    </li>
                    <li class="menu-item dropdown-content">
                        <a class="btn dropbtn">Лікарня</a>
                        <ul>
                            <li>
                                <a class="btn" href="#">Галерея</a>
                            </li>
                            <li>
                                <a class="btn" href="../contacts">Контакти</a>
                            </li>
                            <li>
                                <a class="btn" href="../vacancy">Вакансії</a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item">
                        <a class="btn" href="../staff">Наші лікарі</a>
                    </li>
                    <li class="menu-item dropdown-content">
                        <a class="btn dropbtn" href="../making-an-appointment">Запис на прийом</a>
                        <ul>
                            <li>
                                <a class="btn" href="../making-a-contract">Заключити контракт</a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item">
                        <a class="btn" href="../schedule">Графік роботи</a>
                    </li>
                    <li class="menu-item">
                        <a class="btn" href="../quiz">Опитування</a>
                    </li>
                </ul>
            </div>
        </header>
{% endblock %}

{% block content %}
    <div class="title-box">
        <h2>Опитування щодо знання заходів на протидію COVID</h2>
    </div>
    <div class="form-wrapper">
        <div id="loader"></div>
        <form class="form hidden" action="quiz" method="POST">
            <h2 id="form__title"></h2><br>
            <fieldset id="form__content">
                <legend>Оберіть варіант</legend>
                <div id="form__variants">
                </div>
            </fieldset>
            <div class="form__button__block">
                <input type="submit" class="form__button" value="Продовжити">
            </div>
        </form>
    </div>
    <div class="results-wrapper hidden">
        <div class="results">
            <div class="variants">
                <p class="variants__title"></p>
                <div class="variants__answers">
                    <div class="variants__answer chosen"></div>
                    <div class="variants__answer correct"></div>
                </div>
            </div>
            <div class="variants">
                <p class="variants__title"></p>
                <div class="variants__answers">
                    <div class="variants__answer chosen"></div>
                    <div class="variants__answer correct"></div>
                </div>
            </div>
            <div class="variants">
                <p class="variants__title"></p>
                <div class="variants__answers">
                    <div class="variants__answer chosen"></div>
                    <div class="variants__answer correct"></div>
                </div>
            </div>
            <div class="variants">
                <p class="variants__title"></p>
                <div class="variants__answers">
                    <div class="variants__answer chosen"></div>
                    <div class="variants__answer correct"></div>
                </div>
            </div>
            <div class="total">
                <p class="total__title">Висновки</p>
                <div class="total__diagrams">
                    <div class="result">
                        <div class="result__variant"><p>Правильно</p></div>
                        <div class="result__variant__scale">
                            <div class="scale-wrapper">
                                <div class="scale green"></div>
                            </div>
                            <div class="percentage"></div>
                        </div>
                    </div>
                    <div class="result">
                        <div class="result__variant"><p>Неправильно</p></div>
                        <div class="result__variant__scale">
                            <div class="scale-wrapper">
                                <div class="scale red"></div>
                            </div>
                            <div class="percentage"></div>
                        </div>
                    </div>
                </div>
                <div class="verdict-wrapper">
                    <p class="verdict">Ви пройшли тестування, а отже, гарно знаєтеся на заходах протидії COVID-19.
                        Бувайте
                        здорові!</p>
                </div>
            </div>
            <div class="home-wrapper">
                <a href="/" class="home">Повернутися до головної сторінки</a>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/quiz.js' %}"></script>
{% endblock %}