{% extends "clinic/base.html" %}
{% load static %}
{% load i18n %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/registration.css' %}">
    <title>{% trans 'Харківська районна лікарня №496' %}</title>
{% endblock %}

{% block header_registration %}
    <li class="menu-item auth-block registration">
        <a class="btn disabled" href="{% url 'registration' %}">{% trans 'Укладення контракту' %}</a>
    </li>
{% endblock %}

{% block language_href %}
    href="/{{ language.code }}/registration"
{% endblock %}

{% block content %}
    <div class="registration-form-wrapper">
        <div class="registration-form">
            <div class="registration-form-title">
                <h3>{% trans 'Укладення контракту' %}</h3>
            </div>
            <form class="form-data" method="post" action="{% url 'register' %}">
                {% csrf_token %}
                <div class="user-info">
                    <div class="user-info__first">
                        <div class="field-block">
                            <label for="registration-lastname">{% trans 'Прізвище' %}</label>
                            <input type="text" id="registration-lastname" name="lastname" required>
                        </div>
                        <div class="field-block">
                            <label for="registration-name">{% trans "Ім'я" %}</label>
                            <input type="text" id="registration-name" name="name" required>
                        </div>
                        <div class="field-block">
                            <label for="registration-patronymic">{% trans 'По батькові' %}</label>
                            <input type="text" id="registration-patronymic" name="patronymic" required>
                        </div>
                    </div>
                    <div class="user-info__second">
                        <div class="field-block">
                            <label for="registration-phone-num">{% trans 'Номер телефону' %}</label>
                            <input type="text" id="registration-phone-num" name="phone_number" required>
                        </div>
                        <div class="field-block">
                            <label for="registration-doctor-choice">{% trans 'Із яким доктором узгоджуєте контракт?' %}</label>
                            <select name="doctor_choice" id="registration-doctor-choice" required>
                                <option value="">{% trans 'Оберіть лікаря' %}</option>
                                {% for doctor in doctors %}
                                    <option value="{{ doctor.pk }}">{{ doctor.lastname }} {{ doctor.name }} {{ doctor.patronymic }}, {{ doctor.category.name|lower }}
                                        {% trans 'кваліфікаційна категорія' %}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="user-info__third">
                        <div class="field-block">
                            <label for="registration-street-type">{% trans 'Тип вулиці' %}</label>
                            <select name="street_type" id="registration-street-type" required>
                                <option value="">{% trans 'Оберіть тип' %}</option>
                                <option value="street">{% trans 'Вулиця' %}</option>
                                <option value="avenue">{% trans 'Проспект' %}</option>
                                <option value="boulevard">{% trans 'Бульвар' %}</option>
                            </select>
                        </div>
                        <div class="field-block">
                            <label for="registration-street_name">{% trans 'Назва вулиці' %}</label>
                            <input type="text" id="registration-street_name" name="street_name" required>
                        </div>
                        <div class="field-block">
                            <label for="registration-house-number">{% trans 'Будинок' %}</label>
                            <input type="text" id="registration-house-number" name="house_number" style="width: 160px;"
                                   required>
                        </div>
                        <div class="field-block">
                            <label for="registration-flat-number">{% trans 'Квартира' %}</label>
                            <input type="text" id="registration-flat-number" name="flat_number" style="width: 160px;"
                                   required>
                        </div>
                        <div class="field-block">
                            <label for="registration-post-index">{% trans 'Індекс пошти' %}</label>
                            <input type="text" id="registration-post-index" name="post_index" style="width: 160px;"
                                   required>
                        </div>
                    </div>
                    <div class="user-info__fourth">
                        <div class="field-block">
                            <label for="registration-contract-num">
                                <i>{% trans 'Після натискання кнопки "Отримати номер контракту" на вказаний вище номер буде надіслано СМС із номером. Введіть його у поле нижче' %}</i>
                            </label>
                            <div class="registration-contract-num-block-wrapper">
                                <div class="registration-contract-num-block">
                                    <input type="password" id="registration-contract-num" name="contract_num" required>
                                    <button id="registration-contract-num-button">
                                        <i>{% trans 'Отримати номер контракту' %}</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <div class="button-block">
                        <input type="submit" value="{% trans 'Відправити' %}">
                    </div>
                    <div class="button-block">
                        <input type="reset" value="{% trans 'Очистити все' %}">
                    </div>
                </div>
            </form>
            <div class="no-register">
                <span class="no-register__text">{% trans 'Вже є акаунт? <a href="/login">Увійдіть</a>' %}</span>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/registration.js' %}" type="text/javascript"></script>
{% endblock %}
