@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.form-container {
    max-width: 900px;
    width: 100%;
    background: rgba(100, 244, 255, 0.5);
    display: grid;
    grid-row-gap: 15px;
    padding: 25px 30px;
    border-radius: 10px;
}

.form-container .title-block {
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.form-container .title-block:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: linear-gradient(135deg, #0697D6, #97E7E7);
}


.form-container form .user-details {
    display: grid;
    width: 100%;
    grid-template-areas: "ln name"
            "contract contract"
            "family family"
            "date date"
            "tm tm"
            "complaint-desc complaint-desc";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 30px;
}

form .user-details > #patient-firstname {
    grid-area: name;
}

form .user-details > #patient-lastname {
    grid-area: ln;
}

form .user-details > #patient-contract {
    grid-area: contract;
}

form .user-details > #family-doctor-block {
    grid-area: family;
}

form .user-details > #health-complaint {
    grid-area: complaint-desc;
}

form .user-details > #record-date-block {
    grid-area: date;
}

form .user-details > #record-time-block {
    grid-area: tm;
}

form .user-details .inner-box {
    margin-bottom: 15px;
    width: 100%;
}

.user-details .inner-box .unknown-block {
    font-style: italic;
    font-size: 22px;
    color: #888;
    text-align: center;
}

.user-details .inner-box .doctor-block {
    font-style: normal;
    font-size: 22px;
    color: #000;
    text-align: center;
}

.user-details .inner-box .details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .details {
    font-size: 1.4rem;
}

.user-details .inner-box textarea {
    width: 100%;
    height: 300px !important;
    resize: none;
}

.user-details .inner-box input[type=date] {
    font-size: 1.2rem;
    width: 100%;
}

.user-details .inner-box .textholder {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .inner-box .info-block {
    display: flex;
    justify-content: space-around;
    column-gap: 5px;
}

.inner-box .info-block input {
    width: 100%;
    padding: 10px 20px;
    font-size: 1.3rem;
}

.inner-box .info-block input#active-time {
    background-color: #1975BB;
    border-color: #0CC5BF;
    color: #fff;
}

.info-block #calendar {
    border-radius: 10px;
}

.user-details .inner-box .textholder:focus,
.user-details .inner-box input:valid {
    border-color: rgba(68, 120, 242, 1);
}

form .button {
    height: 50px;
}

form #buttons {
    display: flex;
}

form .button {
    width: 50%;
    margin: 0 12px;
    outline: none;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 500;
}

.button#record {
    color: #fff;
    background: linear-gradient(135deg, #0697D6, #97E7E7);
}

.button#record:hover {
    color: #eee;
    background: linear-gradient(-135deg, #0697D6, #97E7E7);
}

.button#clear:hover {
    color: #eee;
    background-color: #BBBBBB;
}

.user-details #health-complaint textarea {
    outline: none;
}

.user-details #health-complaint textarea:focus {
    outline: #9b59b6;
}

span.err-msg {
    color: red;
    font-size: 0.95rem;
}

section#modal-wrapper {
    font-family: "Roboto", sans-serif;
    position: absolute;
    z-index: 1000;
    width: 100%;
    display: none;
    justify-content: center;
}

div#modal-window {
    text-align: center;
    display: flex;
    background-color: #55AA55;
    padding: 10px;
    height: 20vh;
    border-radius: 10px;
}

div#modal-window > * {
    line-height: 40px;
}

.disable-block {
    overflow: hidden;
    position: relative;
    height: 100vh;
}

.popup {
    position: fixed;
    z-index: 1500;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    font-family: "Roboto", sans-serif;
    line-height: 30px;
    opacity: 0;
    visibility: hidden;
}

.popup.open {
    opacity: 1;
    visibility: visible;
}

.popup__body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 30px 10px;
}

.popup__content {
    background-color: #ffffff;
    max-width: 800px;
    padding: 30px;
    position: relative;
}

.popup__title {
    font-size: 1.6rem;
    margin-bottom: 2em;
}

.popup__close {
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 4px;
    text-decoration: none;
    color: #000;
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

@media screen and (max-width: 768px) {
    .form-wrapper {
        padding: 10px;
    }

    .form-container > * {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 660px) {
    .form-container .title-block {
        font-size: 1.3rem;
    }

    .form-container .inner-box .details {
        font-size: 1rem;
    }

    .user-details .inner-box .textholder {
        font-size: 0.8rem;
        height: 30px;
    }

    form .button,
    .user-details .inner-box .info-block,
    .inner-box .info-block input[type=button] {
        font-size: 0.8rem;
        padding: 0;
    }

    .inner-box .info-block input[type=button] {
        height: 25px;
    }

    .user-details .inner-box .unknown-block,
    .user-details .inner-box .doctor-block {
        font-size: 1rem;
    }

    .user-details textarea#complaint {
        width: 100%;
    }

    .user-details .textholder {
        font-size: 0.8rem;
    }

    .user-details .inner-box input[type=date] {
        font-size: 0.8rem;
        width: 100%;
    }

    .popup__content {
        padding: 10px;
    }

    .popup__title {
        font-size: 1rem;
    }

    .popup__text {
        font-size: 0.8rem;
    }

    span.err-msg {
        font-size: 0.75rem;
    }
}

@media screen and (max-width: 576px) {
    .form-container {
        padding: 25px 25px;
    }

    .form-container .user-details {
        grid-template-areas: "ln"
                             "name"
                             "contract"
                             "family"
                             "date"
                             "tm"
                             "complaint-desc" !important;
        grid-template-columns: 1fr !important;
        grid-template-rows: 1fr !important;
    }

    .inner-box .info-block#time {
        flex-direction: column;
        row-gap: 5px;
        align-items: center;
    }

    .inner-box .info-block input[type=button] {
        width: 80%;
    }
}