@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8em;
}

.form-container {
    max-width: 900px;
    width: 100%;
    background: rgba(0, 150, 150, 0.5);
    display: grid;
    grid-row-gap: 15px;
    padding: 25px 30px;
    border-radius: 10px;
}

.form-container .title-block {
    font-size: 1.5em;
    font-weight: 500;
    position: relative;
}

.form-container .title-block:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: linear-gradient(135deg, #0697D6, #97E7E7);
}

form .grid-user-info {
    width: 100%;
    display: grid;
    grid-row-gap: 0.5em;
}

.grid-user-info .inner-grid-item {
    display: grid;
    margin-bottom: 0.5em;
    position: relative;
}

.grid-item {
    display: grid;
    grid-gap: 1.5rem;
}

.grid-item:nth-child(1) {
    grid-template-columns: 1fr;
}

.grid-item:nth-child(2) {
    grid-template-columns: repeat(2, 1fr);
}

.grid-item:nth-child(3) {
    grid-template-columns: 1fr;
}

.grid-item:nth-child(4) {
    grid-template-columns: repeat(2, 1fr);
}

.grid-item:nth-child(5) {
    grid-template-columns: repeat(3, 1fr);
}

.grid-user-info .inner-grid-item .label--detail {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 1.3em;
}

.grid-user-info .inner-grid-item .textholder {
    height: 2.5em;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 1em;
    border-bottom-width: 2px;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

form .searched-info-block {
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 1000000;
    display: grid;
    font-family: "Roboto", sans-serif;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-left-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    border-color: rgba(68, 120, 242, 1);
    padding: 0;
}

button.searched-item-button {
    height: 2.5em;
    padding: 0.9em;
    text-align: center;
    border: none;
    background-color: #ffffff;
    font-size: 1em;
}

.searched-item-button:last-child {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.searched-item-button:hover {
    background-color: #aaaaaa;
}

.focused {
    border-color: rgb(68, 120, 242);
}

.inner-box .info-block input {
    width: 100%;
    padding: 10px 20px;
    font-size: 1.3rem;
}

.grid-user-info .inner-grid-item input.textholder:focus,
.grid-user-info .inner-grid-item input:valid {
    border-color: rgba(68, 120, 242, 1);
}

form input.button {
    height: 50px;
}

form div#buttons {
    display: flex;
}

form input.button {
    width: 50%;
    margin: 0 12px;
    outline: none;
    border: none;
    border-radius: 20px;
    font-size: 1.2em;
    letter-spacing: 1px;
    font-weight: 500;
}

input.button#record {
    color: #fff;
    background: linear-gradient(90deg, #2DE4D9, #2B7899);
}

input.button#record:hover {
    color: #eee;
    background: linear-gradient(-90deg, #2DE4D9, #2B7899);
}

input.button#clear:hover {
    color: #eee;
    background-color: #BBBBBB;
}

.choose-way-to-send-a-contract-info-block {
    display: flex;
    text-align: center;
    flex-direction: column;
    font-size: 1.5em;
}

.choose-way-to-send-a-contract-info-buttons {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}

.choose-way-to-send-a-contract-info-buttons .choose-way-to-send-a-contract-info-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choose-way-to-send-a-contract-info-buttons .choose-way-radio {
    position: absolute;
    border: 0;
    left: 0;
    width: 100%;
    aspect-ratio: 1;
    box-sizing: border-box;
    opacity: 0;
}

.fa.fa-telegram, .fa.fa-sms {
    position: relative;
    font-size: 2em;
    border: solid 2px rgba(0, 0, 0, 0);
    box-sizing: border-box;
}

.err-small {
    color: #CC4444;
    font-family: Roboto, sans-serif;
    font-size: 0.9rem;
}

.fa.fa-telegram {
    color: #0AA2FF;
}

.fa.fa-telegram:hover {
    color: #0655DD;
}

.fa.fa-sms {
    color: #aaaaaa;
}

.fa.chosen {
    border: solid 2px black;
    border-radius: 10px;
}

.hidden {
    opacity: 0;
    visibility: hidden;
}

@media screen and (max-width: 768px) {

    .form-container > * {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 660px) {
    .form-container .title-block {
        font-size: 1.3rem;
    }

    .choose-way-to-send-a-contract-info-buttons .choose-way-radio {
        font-size: 0.9em;
    }

    .grid-user-info .textholder {
        font-size: 0.8em;
    }

    .grid-item {
        grid-gap: 1rem;
    }
}