* {
    font-family: Inter, sans-serif;
}

.registration-form-wrapper {
    display: grid;
    justify-content: center;
    padding-top: 2em;
}

.registration-form {
    display: grid;
    grid-row-gap: 1em;
    background-color: rgba(155, 222, 209, 1);
    padding: 1em;
    border-radius: 10px;
    max-width: 960px;
}

.registration-form-title {
    border-bottom: solid 2px #000000;
}

.registration-form-title h3 {
    font-size: 1.5em;
}

form {
    display: grid;
    grid-row-gap: 1em;
}

div.user-info {
    display: grid;
    grid-row-gap: 1em;
}

.user-info__first {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    column-gap: 1em;
}

.user-info__second {
    display: grid;
    grid-template-columns: 3fr 7fr;
    justify-content: space-between;
    column-gap: 1em;
}

.user-info__third {
    display: grid;
    grid-template-columns: 2fr 6fr 1fr 1fr;
    grid-column-gap: 1em;
    grid-auto-columns: 1fr;
    width: 100%;
}

.field-block {
    display: grid;
    grid-row-gap: 0.5em;
    box-sizing: border-box;
}

.field-block > * {
    font-size: 1.2em;
}

.field-block input,
.field-block select {
    padding: 0.25em;
    border: 0.1em solid black;
    border-radius: 10px;
    -webkit-transition: 0.5s;
    transition: all 0.3s ease;
    outline: none;
}

.field-block input:focus {
    border: 0.1em solid #6499e9;
    box-shadow: 0 0 2px 1px #6499e9;
}

.form-actions {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.form-actions .button-block input {
    font-size: 1.1em;
}

form div.form-actions input {
    border: none;
    padding: 0.5em 2.5em;
    border-radius: 20px;
}

form input {
    transition: all 0.5s ease;
}

form input[type=submit] {
    background-color: rgba(100, 149, 237, 1);
}

form input[type=submit]:hover {
    background-color: rgba(0, 149, 237, 1);
}

form input[type=reset]:hover {
    background-color: rgb(150, 150, 150);
}

div.no-register {
    display: flex;
    justify-content: center;
}