.doctor-wrapper {
    display: flex;
    justify-content: center;
}

.doctor-info, .reviews .review {
    background-color: rgb(255, 255, 255, 0.5);
}

.doctor-info .doctor-description .prof-info {
    display: grid;
    grid-row-gap: 10px;
}

.doctor-info {
    display: flex;
    border: solid 2px #000000;
    padding: 10px 0;
    border-radius: 10px;
    font-size: 1rem;
}

.doctor-info > * {
    margin: 0 20px;
}

.doctor-info .doctor-description {
    font-size: 1.5rem;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    position: relative;
}

.doctor-description .profession {
    font-style: italic;
}

.doctor-description .category-info {
    font-weight: 800;
}

.doctor-info .feedback_btn {
    text-decoration: none;
    color: #ffffff;
    background-color: #0CC5EE;
    position: absolute;
    bottom: 0;
    padding: 10px 20px;
    border-radius: 20px;
}

.doctor-info .feedback_btn:hover {
    background-color: #1975BB;
}

.reviews {
    display: grid;
    justify-items: center;
    row-gap: 20px;
}

.reviews * {
    font-size: 20px;
}

.reviews .review {
    padding: 5px 10px 30px 10px;
    max-width: 60%;
    border: solid 1px #000000;
    border-radius: 10px;
}

.reviews .review > *,
.review .account > * {
    margin: 10px 0;
    font-size: 1em;
}

.review .account > * {
    font-weight: 700;
}

.reviews__menu {
    width: 100%;
    display: grid;
    grid-row-gap: 20px;
    background-color: rgba(100, 100, 100, 0.1);
    padding: 10px;
    border-radius: 10px;
}

.reviews__menu__title {
    text-align: center;
    font-size: 1.3em;
    font-family: Inter, sans-serif;
}

.reviews__menu__elems {
    display: flex;
    justify-content: space-around;
}

.menu__elem * {
    font-family: Inter, sans-serif;
    font-size: 1em;
}

@media screen and (max-width: 1452px) {
    .reviews__menu__title {
        font-size: 1em;
    }

    .doctor-info .doctor-description {
        font-size: 1.2em;
    }

    .menu__elem * {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 1024px) {
    .reviews__menu {
        max-width: 80%;
        margin: 0 5px;
    }

    .menu__elem {
        width: 100%;
        margin-bottom: 10px;
    }

    .menu__elem select {
        width: 100%;
    }

    .reviews__menu__elems {
        flex-direction: column;
        align-items: center;
    }

    .reviews .review {
        max-width: 80%;
    }
}

@media screen and (max-width: 768px) {
    .reviews__menu__title {
        font-size: 0.9em;
    }

    .reviews__menu {
        max-width: 90%;
    }

    .doctor-info {
        flex-direction: column;
        align-items: center;
        text-align: center;
        max-width: 90%;
    }

    .reviews .review {
        max-width: 90%;
    }

    .doctor-info .doctor-description {
        grid-template-rows: repeat(3, 1fr);
    }

    .doctor-info .feedback_btn {
        position: relative;
        text-align: center;
        margin: 20px 0;
    }

    .menu-elem#default-button {
        width: 95%;
    }

    .reviews .review > *,
    .review .account > * {
        font-size: 0.8em;
    }
}

