* {
    font-family: Inter, sans-serif;
}

.registration-form-wrapper {
    display: grid;
    justify-items: center;
    padding-top: 2em;
}

.registration-form {
    display: grid;
    grid-row-gap: 1em;
    background-color: rgba(155, 222, 209, 1);
    padding: 1em;
    border-radius: 10px;
    max-width: 960px;
    box-shadow: 5px 10px 15px rgba(75, 150, 120, 0.5);
}

.registration-form-title {
    border-bottom: solid 2px #000000;
}

.registration-form-title h3 {
    font-size: 1.5em;
}

form {
    display: grid;
    row-gap: 1.5em;
    width: inherit;
}

div.user-info {
    display: grid;
    grid-row-gap: 1em;
}

.user-info__first {
    display: grid;
    justify-content: space-between;
    column-gap: 1em;
    grid-template-columns: repeat(3, 1fr);
    min-width: 0;
}

.user-info__second {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    column-gap: 1em;
}

.user-info__third {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 3fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    grid-column-gap: 0.5em;
}

.user-info__fourth {
    display: grid;
    margin-top: 1em;
}

.field-block {
    display: grid;
    grid-row-gap: 0.5em;
    box-sizing: border-box;
}

.field-block > * {
    font-size: 1.1em;
    min-width: 0;
    padding: 0.125rem;
}

.field-block input,
.field-block select {
    border: 0.1em solid black;
    border-radius: 10px;
    -webkit-transition: 0.3s;
    transition: all 0.3s ease;
    outline: none;
}

.field-block input:focus,
.field-block select:focus {
    border: 0.1rem solid #6499e9;
    box-shadow: 0 0 2px 1px #6499e9;
}

.form-actions {
    display: flex;
    width: 100%;
    justify-content: space-around;
}


form .form-actions input {
    border: none;
    font-size: 1.1em;
    padding: 0.5em 2.5em;
    border-radius: 20px;
}

form input {
    transition: all 0.5s ease;
}

form input[type=submit] {
    background-color: rgba(100, 149, 237, 1);
}

form input[type=submit]:hover {
    background-color: rgba(0, 149, 237, 1);
}

form input[type=reset]:hover {
    background-color: rgb(150, 150, 150);
}

.no-register {
    display: flex;
    justify-content: center;
}

.registration-contract-num-block-wrapper {
    display: flex;
    justify-content: center;
}

.registration-contract-num-block {
    display: flex;
    flex-direction: column-reverse;
    row-gap: 0.5em;
    width: 40%;
}

button#registration-contract-num-button {
    font-size: 1rem;
    padding: 0.25rem;
    border-width: 0.1rem;
    border-radius: 10px;
    background-color: rgba(100, 149, 237, 1);
    box-shadow: none;
    transition: box-shadow 0.3s ease;
}

button#registration-contract-num-button:hover {
    text-shadow: -1px 1px 2px #000000;
    cursor: pointer;
}

button#registration-contract-num-button:disabled {
    border-color: #000000;
}

input#registration-contract-num {
    font-size: 1.1em;
    box-shadow: none;
    border-width: 0.1rem;
}

input#registration-contract-num:focus {
    box-shadow: -1px 0 2px 1px #6499e9;
}

@media screen and (max-width: 1024px) {
    * {
        font-size: 0.98em;
    }

    .registration-form {
        max-width: 80%;
    }

    .user-info__third {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        row-gap: 1em;
    }

}

@media screen and (max-width: 640px) {

    form .form-actions input {
        font-size: calc(0.95em + 0.1 * (100vw / 40));
        padding: 0.25em 1.25em;
    }

    .user-info__first,
    .user-info__second{
        grid-template-columns: 1fr;
        row-gap: 1em;
    }

    .registration-contract-num-block {
        width: 80%;
    }
}
