{% load l10n %}
{{ form.non_field_errors }}
<div class="grid-item">
    <div class="inner-grid-item" id="doctor-block">
        <label for="{{ form.doctor_lfp.id_for_label }}" class="label--detail">Сімейний лікар:</label>
        {{ form.doctor_lfp }}
    </div>
    {% for err in form.doctor_lfp.errors %}
        <small class="err-small">{{ err|localize }}</small>
    {% endfor %}
</div>
<div class="grid-item">
    <div class="inner-grid-item" id="lastname-block">
        <label for="{{ form.person_lastname.id_for_label }}" class="label--detail">Прізвище:</label>
        {{ form.person_lastname }}
        {% for err in form.person_lastname.errors %}
            <small class="err-small">{{ err|localize }}</small>
        {% endfor %}
    </div>
    <div class="inner-grid-item" id="name-block">
        <label for="{{ form.person_name.id_for_label }}" class="label--detail">Ім'я:</label>
        {{ form.person_name }}
        {% for err in form.person_name.errors %}
            <small class="err-small">{{ err|localize }}</small>
        {% endfor %}
    </div>
</div>
<div class="grid-item">
    <div class="inner-grid-item" id="phone-nuber-block">
        <label for="{{ form.person_phone_number.id_for_label }}" class="label--detail">Номер телефону:</label>
        {{ form.person_phone_number }}
        {% for err in form.person_phone_number.errors %}
            <small class="err-small">{{ err|localize }}</small>
        {% endfor %}
    </div>
</div>
<div class="grid-item">
    <div class="inner-grid-item" id="street-type-block">
        <label for="{{ form.street_type.id_for_label }}" class="label--detail">Тип вулиці:</label>
        {{ form.street_type }}
        {% for err in form.street_type.errors %}
            <small class="err-small">{{ err|localize }}</small>
        {% endfor %}
    </div>
    <div class="inner-grid-item" id="street-name-block">
        <label for="{{ form.street_name.id_for_label }}" class="label--detail">Назва вулиці:</label>
        {{ form.street_name }}
    </div>
    {% for err in form.street_name.errors %}
        <small class="err-small">{{ err|localize }}</small>
    {% endfor %}
</div>
<div class="grid-item">
    <div class="inner-grid-item" id="house-number-block">
        <label for="{{ form.house_number.id_for_label }}" class="label--detail">Номер будинку:</label>
        {{ form.house_number }}
        {% for err in form.house_number.errors %}
            <small class="err-small">{{ err|localize }}</small>
        {% endfor %}
    </div>
    <div class="inner-grid-item" id="flat-number-block">
        <label for="{{ form.flat_no.id_for_label }}" class="label--detail">Номер квартири:</label>
        {{ form.flat_no }}
        {% for err in form.flat_no.errors %}
            <small class="err-small">{{ err|localize }}</small>
        {% endfor %}
    </div>
    <div class="inner-grid-item" id="post-index-block">
        <label for="{{ form.post_index.id_for_label }}" class="label--detail">Поштовий індекс:</label>
        {{ form.post_index }}
        {% for err in form.post_index.errors %}
            <small class="err-small">{{ err|localize }}</small>
        {% endfor %}
    </div>
</div>
<div class="grid-item">
    <div class="inner-grid-item choose-way-to-send-a-contract-info-block">
        <h5>Яким чином Ви хочете отримувати інформацію про стан контракту?</h5>
        <div class="choose-way-to-send-a-contract-info-buttons">
            <div class="choose-way-to-send-a-contract-info-btn">
                <i class="fa fa-telegram"><input type="radio" name="chosen"
                                                 class="choose-way-radio"
                                                 id="telegram-btn"
                                                 value="telegram" required></i>
                <label for="telegram-btn">Telegram</label>
            </div>
            <div class="choose-way-to-send-a-contract-info-btn">
                <i class="fa fa-sms"><input type="radio" name="chosen" class="choose-way-radio" id="sms-btn"
                                            value="sms" disabled></i>
                <label for="sms-btn">SMS</label>
                <small class="err-small">У розробці</small>
            </div>
        </div>
    </div>
</div>