@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');

* {
    margin: 0;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

html, body {
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.btn.disabled,
.inner-btn.disabled {
    pointer-events: none;
    cursor: default;
    color: rgb(100, 100, 100) !important;
}


.clinic-head {
    background-color: rgba(80, 170, 170, 1);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    position: fixed;
    z-index: 1000;
    width: 100vw;
    top: 0;
    left: 0;
}

.clinic-head .site-name {
    background-color: rgba(100, 244, 255, 0.5);
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    padding: 10px 0;
    text-align: center;
}

.menu {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.mobile-menu {
    display: none;
    flex-direction: column;
}

.mobile-menu__button {
    background-repeat: no-repeat;
    background-image: url("../icons/white-menu-button.png");
    width: 24px;
    height: 24px;
}

.mobile-menu__button:active {
    background-image: url("../icons/black-menu-button.png");
}

.mobile-menu-btn-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.mobile-menu button {
    font-size: 1.5rem;
    color: #fff;
    background-color: inherit;
    border: none;
}

.mobile-menu button:active {
    color: #777;
}

.mobile-menu-content {
    list-style: none;
    padding: 10px 0 0 0;
    width: 100%;
    display: none;
    background-color: rgba(100, 200, 200, 0.7);
    left: 0;
}

.menu-item {
    list-style: none;
    padding: 0 10px;
    position: relative;
}

.menu-item .btn {
    position: relative;
    display: block;
    font-size: 1.4rem;
    padding-bottom: 15px;
    letter-spacing: 2px;
    text-decoration: none;
    color: rgb(255, 255, 255, .7);
    border-radius: 5px;
    cursor: pointer;
    transition: color 100ms;
}

.menu-item .btn:hover {
    color: rgb(255, 255, 255, 1);
}

.menu-item a img {
    height: 80px;
}

.menu-item .btn:after {
    content: '';
    position: absolute;
    height: 2px;
    background-color: #fff;
    left: 0;
    bottom: 5px;
    width: 0;
    transition: width .35s;
}

.menu-item .btn:hover:after {
    width: 100%;
}

.menu .menu-item .dropdown-content {
    display: none;
    list-style: none;
    padding: 0;
    left: 0;
    position: absolute;
    z-index: 1;
    background-color: rgba(80, 150, 150, 1);
}

.menu .dropdown-content .inner-btn {
    float: none;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.3rem;
    color: rgba(255, 255, 255, .7);
}

.menu .dropdown-content .inner-btn:hover {
    color: rgba(255, 255, 255, 1);
}

.dropdown:hover .dropdown-content {
    display: block;
}

main {
    margin: 140px 0;
    flex: 1 1 auto;
}

.brief-info-wrapper * {
    background-color: #fff;
}

.brief-info {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.brief-info picture {
    display: block;
    height: auto;
}

.brief-info picture img {
    display: block;
    vertical-align: bottom;
    object-fit: contain;
}

.brief-info .about-services {
    display: grid;
    align-items: center;
    grid-template-rows: 1fr 1fr 1fr;
}

.brief-info .about-services h2 {
    font-family: "Roboto", sans-serif;
    font-size: 3rem;
    font-weight: 700;
}

.brief-info .about-services span {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    color: #777;
}

.brief-info .about-services a {
    text-decoration: none;
    padding: 15px 20px;
    border: solid 1px black;
    border-radius: 10px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
}

.brief-info .about-services #record-btn {
    color: white;
    background-color: rgba(80, 170, 170, 1);
}

.brief-info .about-services #record-btn:hover {
    background-color: rgba(0, 150, 150, 1);
}

.brief-info .about-services #more-info-btn {
    color: black;
}

.brief-info .about-services #more-info-btn:hover {
    background-color: #ccc;
}

.about-clinic {
    display: grid;
    justify-items: center;
    row-gap: 40px;
}

.about-clinic .description {
    line-height: 30px;
    width: 80%;
    font-size: 1.1rem;
    font-family: "Arial", sans-serif;
}

.quote-wrapper {
    width: 80%;
}

.quote-wrapper .quote {
    position: relative;
    padding: 50px;
    font-family: 'Satisfy', cursive;
    background-color: rgba(208, 255, 255, .8);
    border-radius: 10px;
}

.quote-wrapper .quote:before {
    content: open-quote;
    top: 15px;
    left: 15px;
}

.quote-wrapper .quote:after {
    content: close-quote;
    bottom: 15px;
    right: 100px;
}

.quote-wrapper .quote:before,
.quote-wrapper .quote:after {
    display: block;
    position: absolute;
    background-color: rgba(200, 200, 200, 0.8);
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 25px;
    border-radius: 50%;
}

.quote-author {
    position: absolute;
    right: 20%;
    background-color: inherit;
    font-family: 'Satisfy', cursive;
}

.title-box {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 25px 20px;
    margin-bottom: 25px;
}

.title-box h2 {
    text-transform: uppercase;
    position: absolute;
    font-size: 25px;
    margin-top: 0;
    background-color: #fff;
    white-space: normal;
    padding: 0 5px;
    color: rgba(80, 170, 170, 1);
}

.title-box:before {
    content: '';
    display: block;
    background-color: rgba(80, 170, 170, 1);
    height: 4px;
    width: 95%;
    top: 35px;
    position: absolute;
}


br.show-for-mobile {
    content: '';
}

.select {
    display: flex;
    width: 100%;
    height: 3em;
    line-height: 3;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: .25em;
    position: relative;
}

select:focus .select {
    border: 1px solid #ccc;
}

.select::after {
    content: '▼';
    color: #000;
    background-color: inherit;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    pointer-events: none;
    transition: all .25s ease;
}

.select:hover::after {
    color: rgba(68, 120, 242, 1);
}

footer {
    width: 100vw;
    background-color: rgba(208, 255, 255, 1);
    height: auto;
    font-family: "Arial", sans-serif;
    padding-top: 10px;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-content p {
    margin: 0 auto;
}

.footer-content h3 {
    word-spacing: 2px;
    line-height: 3rem;
}

footer .socials {
    list-style: none;
    display: flex;
    margin: 15px 0;
}

.socials li {
    margin: 0 10px;
}

.socials li a {
    color: #aaa;
}

.socials a i {
    font-size: 20px;
    transition: color .3s;
}

.socials li a:hover .fa-youtube {
    color: red;
}

.socials li a:hover .fa-facebook {
    color: #0CC5FF;
}

.socials li a:hover .fa-instagram {
    color: darkviolet;
}

.socials li a:hover .fa-twitter {
    color: #0CC5BF;
}

.footer-bottom {
    display: flex;
    flex-direction: column;
    padding: 12px 0;
    background-color: rgba(80, 170, 170, 1);
    text-align: center;
    width: 100vw;
}

.what-makes-us-special-grid {
    display: grid;
    font-size: 1.2rem;
    font-family: "Roboto", sans-serif;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    width: 80%;
    margin: 0 auto;
}

.what-makes-us-special-article {
    background-color: rgba(230, 230, 230, 0.5);
    text-align: center;
    padding: 20px;
    border-radius: 15px;
}

.what-makes-us-special-article > * {
    margin: 15px 0;
}

.what-makes-us-special-article img {
    height: 75px;
    margin: 0;
}

.reminder-popup {
    position: fixed;
    z-index: 1500;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    font-family: "Roboto", sans-serif;
    line-height: 30px;
    opacity: 0;
    visibility: hidden;
}

.reminder-popup.open {
    opacity: 1;
    visibility: visible;
}

.reminder-popup__body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 30px 10px;
}

.reminder-popup__content {
    background-color: #ffffff;
    max-width: 800px;
    padding: 30px;
    position: relative;
}

.reminder-popup__title {
    font-size: 1.6rem;
    margin-bottom: 2em;
}

.reminder-popup__close {
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 4px;
    text-decoration: none;
    color: #000;
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

@media screen and (max-width: 1300px) {
    .brief-info .about-services h2 {
        font-size: 2rem;
    }

    .brief-info .about-services span {
        font-size: 1.2rem;
    }

    .brief-info .about-services a {
        padding: 12px 14px;
    }

    .full-description .description-header {
        font-size: 1.2rem;
    }

}

@media screen and (max-width: 1250px) {
    .brief-info .about-services h2 {
        font-size: calc(1.5rem + 1 * (100vw / 1250));
    }
}

@media screen and (max-width: 1031px) {
    .menu-item .btn {
        font-size: 1.3rem;
    }

    .menu-item a img {
        height: 60px;
    }
}

@media screen and (max-width: 932px) {
    .about-services .buttons * {
        font-size: 0.9rem;
    }

    .menu-item {
        padding: 0 10px;
    }

    .menu-item a img {
        height: 50px;
    }

    .menu-item .btn {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 1024px) {

    .about-clinic .description {
        width: 95%;
    }

    .clinic-head .site-name {
        font-size: calc(1rem + 0.3 * (100vw / 768));
    }

    main {
        margin: 15vh 0;
    }

    .what-makes-us-special-grid {
        width: 95%;
    }

    .title-box {
        margin: 20px 0;
    }

    .about-clinic * {
        font-size: 0.9rem;
    }

    .footer-content {
        margin: 0 10%;
    }

    .menu-item .btn {
        font-size: calc(1rem + 0.1 * (100vw / 768));
    }
}


@media screen and (max-width: 640px) {
    .brief-info {
        flex-direction: column-reverse;
        align-items: center;
    }

    .brief-info .buttons {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        height: 15px;
    }

    .brief-info .buttons * {
        text-align: center;
        margin: 0 10px;
    }
}

@media screen and (max-width: 425px) {

    br.show-for-mobile {
        content: none;
    }

    .what-makes-us-special-grid {
        grid-template-columns: none;
    }

    .title-box h2 {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 384px) {
    .footer-content h3 {
        font-size: 1rem;
    }

    .footer-content h3 {
        line-height: 1.5rem;
    }

    .title-box:before {
        height: 1px;
    }
}
